BSPartnerQuery_26.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- @generated by service_generator. File is not intended to be modified! -->
<wsdl:definitions
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.css.ch/bs/partner/BSPartnerQuery/26"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BSPartnerQuery"
    targetNamespace="http://www.css.ch/bs/partner/BSPartnerQuery/26">
  <wsdl:import location="import/BSPartnerQuery_specification_26.wsdl" namespace="http://www.css.ch/bs/partner/BSPartnerQuery/26"/>
  <wsdl:binding name="BSPartnerQuerySOAP" type="tns:BSPartnerQuery">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="determineNationalitaeten">
      <soap:operation soapAction="http://www.css.ch/bs/partner/BSPartnerQuery/determineNationalitaeten"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BSPartnerInvalidDataFault">
        <soap:fault use="literal" name="BSPartnerInvalidDataFault"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="inspectPartnerUvg">
      <soap:operation soapAction="http://www.css.ch/bs/partner/BSPartnerQuery/inspectPartnerUvg"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BSPartnerInvalidDataFault">
        <soap:fault use="literal" name="BSPartnerInvalidDataFault"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="readEntschaedigungsempfaenger">
      <soap:operation soapAction="http://www.css.ch/bs/partner/BSPartnerQuery/readEntschaedigungsempfaenger"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BSPartnerInvalidDataFault">
        <soap:fault use="literal" name="BSPartnerInvalidDataFault"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="readHolding">
      <soap:operation soapAction="http://www.css.ch/bs/partner/BSPartnerQuery/readHolding"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BSPartnerInvalidDataFault">
        <soap:fault use="literal" name="BSPartnerInvalidDataFault"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="readMitarbeiter">
      <soap:operation soapAction="http://www.css.ch/bs/partner/BSPartnerQuery/readMitarbeiter"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BSPartnerInvalidDataFault">
        <soap:fault use="literal" name="BSPartnerInvalidDataFault"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="readMitbewerber">
      <soap:operation soapAction="http://www.css.ch/bs/partner/BSPartnerQuery/readMitbewerber"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BSPartnerInvalidDataFault">
        <soap:fault use="literal" name="BSPartnerInvalidDataFault"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="readPartner">
      <soap:operation soapAction="http://www.css.ch/bs/partner/BSPartnerQuery/readPartner"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BSPartnerInvalidDataFault">
        <soap:fault use="literal" name="BSPartnerInvalidDataFault"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="readPartnerDiagnose">
      <soap:operation soapAction="http://www.css.ch/bs/partner/BSPartnerQuery/readPartnerDiagnose"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BSPartnerInvalidDataFault">
        <soap:fault use="literal" name="BSPartnerInvalidDataFault"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="readPartnerLeistungserbringer">
      <soap:operation soapAction="http://www.css.ch/bs/partner/BSPartnerQuery/readPartnerLeistungserbringer"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BSPartnerInvalidDataFault">
        <soap:fault use="literal" name="BSPartnerInvalidDataFault"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="readRechnungssteller">
      <soap:operation soapAction="http://www.css.ch/bs/partner/BSPartnerQuery/readRechnungssteller"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BSPartnerInvalidDataFault">
        <soap:fault use="literal" name="BSPartnerInvalidDataFault"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="readSprachregion">
      <soap:operation soapAction="http://www.css.ch/bs/partner/BSPartnerQuery/readSprachregion"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BSPartnerInvalidDataFault">
        <soap:fault use="literal" name="BSPartnerInvalidDataFault"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="readTherapeut">
      <soap:operation soapAction="http://www.css.ch/bs/partner/BSPartnerQuery/readTherapeut"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BSPartnerInvalidDataFault">
        <soap:fault use="literal" name="BSPartnerInvalidDataFault"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="searchCareManagementFallBetreuer">
      <soap:operation soapAction="http://www.css.ch/bs/partner/BSPartnerQuery/searchCareManagementFallBetreuer"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BSPartnerInvalidDataFault">
        <soap:fault use="literal" name="BSPartnerInvalidDataFault"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="searchEntschaedigungsempfaenger">
      <soap:operation soapAction="http://www.css.ch/bs/partner/BSPartnerQuery/searchEntschaedigungsempfaenger"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BSPartnerInvalidDataFault">
        <soap:fault use="literal" name="BSPartnerInvalidDataFault"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="searchMitbewerber">
      <soap:operation soapAction="http://www.css.ch/bs/partner/BSPartnerQuery/searchMitbewerber"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BSPartnerInvalidDataFault">
        <soap:fault use="literal" name="BSPartnerInvalidDataFault"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="searchPartner">
      <soap:operation soapAction="http://www.css.ch/bs/partner/BSPartnerQuery/searchPartner"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BSPartnerInvalidDataFault">
        <soap:fault use="literal" name="BSPartnerInvalidDataFault"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="searchPartnerByFremdPartnerNr">
      <soap:operation soapAction="http://www.css.ch/bs/partner/BSPartnerQuery/searchPartnerByFremdPartnerNr"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BSPartnerInvalidDataFault">
        <soap:fault use="literal" name="BSPartnerInvalidDataFault"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="searchPartnerInfo">
      <soap:operation soapAction="http://www.css.ch/bs/partner/BSPartnerQuery/searchPartnerInfo"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BSPartnerInvalidDataFault">
        <soap:fault use="literal" name="BSPartnerInvalidDataFault"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="searchPartnerLeistungserbringer">
      <soap:operation soapAction="http://www.css.ch/bs/partner/BSPartnerQuery/searchPartnerLeistungserbringer"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BSPartnerInvalidDataFault">
        <soap:fault use="literal" name="BSPartnerInvalidDataFault"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="searchPartnerMitarbeiter">
      <soap:operation soapAction="http://www.css.ch/bs/partner/BSPartnerQuery/searchPartnerMitarbeiter"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BSPartnerInvalidDataFault">
        <soap:fault use="literal" name="BSPartnerInvalidDataFault"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="searchPartnerRechnungsteller">
      <soap:operation soapAction="http://www.css.ch/bs/partner/BSPartnerQuery/searchPartnerRechnungsteller"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BSPartnerInvalidDataFault">
        <soap:fault use="literal" name="BSPartnerInvalidDataFault"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="searchPerson">
      <soap:operation soapAction="http://www.css.ch/bs/partner/BSPartnerQuery/searchPerson"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BSPartnerInvalidDataFault">
        <soap:fault use="literal" name="BSPartnerInvalidDataFault"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="searchQuellensteueramt">
      <soap:operation soapAction="http://www.css.ch/bs/partner/BSPartnerQuery/searchQuellensteueramt"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BSPartnerInvalidDataFault">
        <soap:fault use="literal" name="BSPartnerInvalidDataFault"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="searchRechnungsstellerByLeistungserbringer">
      <soap:operation soapAction="http://www.css.ch/bs/partner/BSPartnerQuery/searchRechnungsstellerByLeistungserbringer"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BSPartnerInvalidDataFault">
        <soap:fault use="literal" name="BSPartnerInvalidDataFault"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="searchUnternehmen">
      <soap:operation soapAction="http://www.css.ch/bs/partner/BSPartnerQuery/searchUnternehmen"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BSPartnerInvalidDataFault">
        <soap:fault use="literal" name="BSPartnerInvalidDataFault"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="validateKunde">
      <soap:operation soapAction="http://www.css.ch/bs/partner/BSPartnerQuery/validateKunde"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BSPartnerNoDataFoundFault">
        <soap:fault use="literal" name="BSPartnerNoDataFoundFault"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BSPartnerQuery">
    <wsdl:port binding="tns:BSPartnerQuerySOAP" name="BSPartnerQuery">
      <soap:address location="http://localhost:9080/bs_partner_router_ws/BSPartnerQueryPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>