eBIdentityManagementLogic_1.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- @generated by service_generator. File is not intended to be modified! --><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:l7="http://l7.security.css.ch/config" xmlns:logic="http://www.css.ch/eb_identity_management/eBIdentityManagementLogic/1" xmlns:srv="http://l7.security.css.ch/service" xmlns:manager="http://www.css.ch/eb_identity_management/eBIdentityManagementManager/1" xmlns:pep="http://l7.security.css.ch/pep" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:service="http://www.css.ch/eb_onlineregistrationservice/OnlineRegistrationService/1" xmlns:env="http://l7.security.css.ch/environment" xmlns:query="http://www.css.ch/eb_identity_management/eBIdentityManagementQuery/1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp="http://www.w3.org/ns/ws-policy" name="eBIdentityManagementLogic" targetNamespace="http://www.css.ch/eb_identity_management/eBIdentityManagementLogic/1">
   <wsdl:import xmlns:tns="http://www.css.ch/eb_identity_management/eBIdentityManagementLogic/1" location="import/eBIdentityManagementLogic_specification_1.wsdl" namespace="http://www.css.ch/eb_identity_management/eBIdentityManagementLogic/1"/>
   <wsdl:binding xmlns:tns="http://www.css.ch/eb_identity_management/eBIdentityManagementLogic/1" name="eBIdentityManagementLogicSOAP" type="tns:eBIdentityManagementLogic">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="ping">
         <soap:operation soapAction="http://www.css.ch/eb_identity_management/eBIdentityManagementLogic/ping"/>
         <wsdl:input><soap:body use="literal"/></wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="submitIdentificationLetterRequest">
         <soap:operation soapAction="http://www.css.ch/eb_identity_management/eBIdentityManagementLogic/submitIdentificationLetterRequest"/>
         <wsdl:input><soap:body use="literal"/><wsp:PolicyReference URI="#AsymmetricSAML2Policy"/></wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="EBIakTooRecentlyIssuedFault">
            <soap:fault use="literal" name="EBIakTooRecentlyIssuedFault"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="generateActivationCode">
         <soap:operation soapAction="http://www.css.ch/eb_identity_management/eBIdentityManagementLogic/generateActivationCode"/>
         <wsdl:input><soap:body use="literal"/></wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="EBGenerateActivationCodeFault">
            <soap:fault use="literal" name="EBGenerateActivationCodeFault"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="submitIdentificationLetterRequestInAdvance">
         <soap:operation soapAction="http://www.css.ch/eb_identity_management/eBIdentityManagementLogic/submitIdentificationLetterRequestInAdvance"/>
         <wsdl:input><soap:body use="literal"/></wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="EBIdentificationLetterRequestInAdvanceFault">
            <soap:fault use="literal" name="EBIdentificationLetterRequestInAdvanceFault"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="submitIdentificationLetterRequestSelf">
         <soap:operation soapAction="http://www.css.ch/eb_identity_management/eBIdentityManagementLogic/submitIdentificationLetterRequestSelf"/>
         <wsdl:input><soap:body use="literal"/></wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="EBIakTooRecentlyIssuedFault">
            <soap:fault use="literal" name="EBIakTooRecentlyIssuedFault"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="submitPasswortReset">
         <soap:operation soapAction="http://www.css.ch/eb_identity_management/eBIdentityManagementLogic/submitPasswortReset"/>
         <wsdl:input><soap:body use="literal"/></wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="EBPartnerNotFoundFault">
            <soap:fault use="literal" name="EBPartnerNotFoundFault"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="submitRegistrierung">
         <soap:operation soapAction="http://www.css.ch/eb_identity_management/eBIdentityManagementLogic/submitRegistrierung"/>
         <wsdl:input><soap:body use="literal"/></wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="EBUserNameAlreadyPresentFault">
            <soap:fault use="literal" name="EBUserNameAlreadyPresentFault"/>
         </wsdl:fault>
         <wsdl:fault name="EBDataValidationFault">
            <soap:fault use="literal" name="EBDataValidationFault"/>
         </wsdl:fault>
         <wsdl:fault name="EBEmailAlreadyPresentFault">
            <soap:fault use="literal" name="EBEmailAlreadyPresentFault"/>
         </wsdl:fault>
         <wsdl:fault name="EBPartnerAlreadySignedUpFault">
            <soap:fault use="literal" name="EBPartnerAlreadySignedUpFault"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="submitSms">
         <soap:operation soapAction="http://www.css.ch/eb_identity_management/eBIdentityManagementLogic/submitSms"/>
         <wsdl:input><soap:body use="literal"/><wsp:PolicyReference URI="#AsymmetricSAML2Policy"/></wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="submitTelefonRegistrierungFirstStep">
         <soap:operation soapAction="http://www.css.ch/eb_identity_management/eBIdentityManagementLogic/submitTelefonRegistrierungFirstStep"/>
         <wsdl:input><soap:body use="literal"/><wsp:PolicyReference URI="#AsymmetricSAML2Policy"/></wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="EBNoValidIakFault">
            <soap:fault use="literal" name="EBNoValidIakFault"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="submitTelefonRegistrierungSecondStep">
         <soap:operation soapAction="http://www.css.ch/eb_identity_management/eBIdentityManagementLogic/submitTelefonRegistrierungSecondStep"/>
         <wsdl:input><soap:body use="literal"/><wsp:PolicyReference URI="#AsymmetricSAML2Policy"/></wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="EBNoValidIakFault">
            <soap:fault use="literal" name="EBNoValidIakFault"/>
         </wsdl:fault>
         <wsdl:fault name="EBOtpFailedFault">
            <soap:fault use="literal" name="EBOtpFailedFault"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="submitVerifyRegistrierung">
         <soap:operation soapAction="http://www.css.ch/eb_identity_management/eBIdentityManagementLogic/submitVerifyRegistrierung"/>
         <wsdl:input><soap:body use="literal"/></wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="EBEmailVerificationNotPossibleFault">
            <soap:fault use="literal" name="EBEmailVerificationNotPossibleFault"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service xmlns:tns="http://www.css.ch/eb_identity_management/eBIdentityManagementLogic/1" name="eBIdentityManagementLogic">
      <wsdl:port binding="tns:eBIdentityManagementLogicSOAP" name="eBIdentityManagementLogic">
         <soap:address location="http://localhost:9080/eb_es_identity_management_router_ws/eBIdentityManagementLogicPort"/>
      </wsdl:port>
   </wsdl:service>

   
<wsp:Policy wsu:Id="AsymmetricSAML2Policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:t="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:wsaw="http://www.w3.org/2005/08/addressing"><wsp:ExactlyOne><wsp:All><sp:AsymmetricBinding><wsp:Policy><sp:InitiatorToken><wsp:Policy><sp:IssuedToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient"><sp:RequestSecurityTokenTemplate><t:TokenType>http://docs.oasis-open.org/wss/oasis-wss-saml-token-profile-1.1#SAMLV2.0 
                                    </t:TokenType><t:KeyType>http://docs.oasis-open.org/ws-sx/ws-trust/200512/Bearer 
                                    </t:KeyType></sp:RequestSecurityTokenTemplate><wsp:Policy><sp:RequireInternalReference/></wsp:Policy></sp:IssuedToken></wsp:Policy></sp:InitiatorToken><sp:RecipientToken><wsp:Policy><sp:X509Token sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/Never"><wsp:Policy><sp:WssX509V3Token10/><sp:RequireIssuerSerialReference/></wsp:Policy></sp:X509Token></wsp:Policy></sp:RecipientToken><sp:Layout><wsp:Policy><sp:Lax/></wsp:Policy></sp:Layout><sp:OnlySignEntireHeadersAndBody/><sp:AlgorithmSuite><wsp:Policy><sp:Basic256/></wsp:Policy></sp:AlgorithmSuite></wsp:Policy></sp:AsymmetricBinding></wsp:All></wsp:ExactlyOne></wsp:Policy></wsdl:definitions>