import/BSPartnerQuery_specification_26.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- @generated by service_generator. File is not intended to be modified! -->
<wsdl:definitions
    xmlns:tns="http://www.css.ch/bs/partner/BSPartnerQuery/26" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BSPartnerQuery"
    targetNamespace="http://www.css.ch/bs/partner/BSPartnerQuery/26">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.css.ch/bs/partner/BSPartnerQuery/26" version="26">
      <xsd:include schemaLocation="../xsd/BSPartnerQuery_26.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:portType name="BSPartnerQuery">
    <wsdl:operation name="determineNationalitaeten">
      <wsdl:input message="tns:BSPartnerQueryDetermineNationalitaetenRequest"/>
      <wsdl:output message="tns:BSPartnerQueryDetermineNationalitaetenResponse"/>
      <wsdl:fault message="tns:BSPartnerInvalidDataFault" name="BSPartnerInvalidDataFault"/>
    </wsdl:operation>
    <wsdl:operation name="inspectPartnerUvg">
      <wsdl:input message="tns:BSPartnerQueryInspectPartnerUvgRequest"/>
      <wsdl:output message="tns:BSPartnerQueryInspectPartnerUvgResponse"/>
      <wsdl:fault message="tns:BSPartnerInvalidDataFault" name="BSPartnerInvalidDataFault"/>
    </wsdl:operation>
    <wsdl:operation name="readEntschaedigungsempfaenger">
      <wsdl:input message="tns:BSPartnerQueryReadEntschaedigungsempfaengerRequest"/>
      <wsdl:output message="tns:BSPartnerQueryReadEntschaedigungsempfaengerResponse"/>
      <wsdl:fault message="tns:BSPartnerInvalidDataFault" name="BSPartnerInvalidDataFault"/>
    </wsdl:operation>
    <wsdl:operation name="readHolding">
      <wsdl:input message="tns:BSPartnerQueryReadHoldingRequest"/>
      <wsdl:output message="tns:BSPartnerQueryReadHoldingResponse"/>
      <wsdl:fault message="tns:BSPartnerInvalidDataFault" name="BSPartnerInvalidDataFault"/>
    </wsdl:operation>
    <wsdl:operation name="readMitarbeiter">
      <wsdl:input message="tns:BSPartnerQueryReadMitarbeiterRequest"/>
      <wsdl:output message="tns:BSPartnerQueryReadMitarbeiterResponse"/>
      <wsdl:fault message="tns:BSPartnerInvalidDataFault" name="BSPartnerInvalidDataFault"/>
    </wsdl:operation>
    <wsdl:operation name="readMitbewerber">
      <wsdl:input message="tns:BSPartnerQueryReadMitbewerberRequest"/>
      <wsdl:output message="tns:BSPartnerQueryReadMitbewerberResponse"/>
      <wsdl:fault message="tns:BSPartnerInvalidDataFault" name="BSPartnerInvalidDataFault"/>
    </wsdl:operation>
    <wsdl:operation name="readPartner">
      <wsdl:input message="tns:BSPartnerQueryReadPartnerRequest"/>
      <wsdl:output message="tns:BSPartnerQueryReadPartnerResponse"/>
      <wsdl:fault message="tns:BSPartnerInvalidDataFault" name="BSPartnerInvalidDataFault"/>
    </wsdl:operation>
    <wsdl:operation name="readPartnerDiagnose">
      <wsdl:input message="tns:BSPartnerQueryReadPartnerDiagnoseRequest"/>
      <wsdl:output message="tns:BSPartnerQueryReadPartnerDiagnoseResponse"/>
      <wsdl:fault message="tns:BSPartnerInvalidDataFault" name="BSPartnerInvalidDataFault"/>
    </wsdl:operation>
    <wsdl:operation name="readPartnerLeistungserbringer">
      <wsdl:input message="tns:BSPartnerQueryReadPartnerLeistungserbringerRequest"/>
      <wsdl:output message="tns:BSPartnerQueryReadPartnerLeistungserbringerResponse"/>
      <wsdl:fault message="tns:BSPartnerInvalidDataFault" name="BSPartnerInvalidDataFault"/>
    </wsdl:operation>
    <wsdl:operation name="readRechnungssteller">
      <wsdl:input message="tns:BSPartnerQueryReadRechnungsstellerRequest"/>
      <wsdl:output message="tns:BSPartnerQueryReadRechnungsstellerResponse"/>
      <wsdl:fault message="tns:BSPartnerInvalidDataFault" name="BSPartnerInvalidDataFault"/>
    </wsdl:operation>
    <wsdl:operation name="readSprachregion">
      <wsdl:input message="tns:BSPartnerQueryReadSprachregionRequest"/>
      <wsdl:output message="tns:BSPartnerQueryReadSprachregionResponse"/>
      <wsdl:fault message="tns:BSPartnerInvalidDataFault" name="BSPartnerInvalidDataFault"/>
    </wsdl:operation>
    <wsdl:operation name="readTherapeut">
      <wsdl:input message="tns:BSPartnerQueryReadTherapeutRequest"/>
      <wsdl:output message="tns:BSPartnerQueryReadTherapeutResponse"/>
      <wsdl:fault message="tns:BSPartnerInvalidDataFault" name="BSPartnerInvalidDataFault"/>
    </wsdl:operation>
    <wsdl:operation name="searchCareManagementFallBetreuer">
      <wsdl:input message="tns:BSPartnerQuerySearchCareManagementFallBetreuerRequest"/>
      <wsdl:output message="tns:BSPartnerQuerySearchCareManagementFallBetreuerResponse"/>
      <wsdl:fault message="tns:BSPartnerInvalidDataFault" name="BSPartnerInvalidDataFault"/>
    </wsdl:operation>
    <wsdl:operation name="searchEntschaedigungsempfaenger">
      <wsdl:input message="tns:BSPartnerQuerySearchEntschaedigungsempfaengerRequest"/>
      <wsdl:output message="tns:BSPartnerQuerySearchEntschaedigungsempfaengerResponse"/>
      <wsdl:fault message="tns:BSPartnerInvalidDataFault" name="BSPartnerInvalidDataFault"/>
    </wsdl:operation>
    <wsdl:operation name="searchMitbewerber">
      <wsdl:input message="tns:BSPartnerQuerySearchMitbewerberRequest"/>
      <wsdl:output message="tns:BSPartnerQuerySearchMitbewerberResponse"/>
      <wsdl:fault message="tns:BSPartnerInvalidDataFault" name="BSPartnerInvalidDataFault"/>
    </wsdl:operation>
    <wsdl:operation name="searchPartner">
      <wsdl:input message="tns:BSPartnerQuerySearchPartnerRequest"/>
      <wsdl:output message="tns:BSPartnerQuerySearchPartnerResponse"/>
      <wsdl:fault message="tns:BSPartnerInvalidDataFault" name="BSPartnerInvalidDataFault"/>
    </wsdl:operation>
    <wsdl:operation name="searchPartnerByFremdPartnerNr">
      <wsdl:input message="tns:BSPartnerQuerySearchPartnerByFremdPartnerNrRequest"/>
      <wsdl:output message="tns:BSPartnerQuerySearchPartnerByFremdPartnerNrResponse"/>
      <wsdl:fault message="tns:BSPartnerInvalidDataFault" name="BSPartnerInvalidDataFault"/>
    </wsdl:operation>
    <wsdl:operation name="searchPartnerInfo">
      <wsdl:input message="tns:BSPartnerQuerySearchPartnerInfoRequest"/>
      <wsdl:output message="tns:BSPartnerQuerySearchPartnerInfoResponse"/>
      <wsdl:fault message="tns:BSPartnerInvalidDataFault" name="BSPartnerInvalidDataFault"/>
    </wsdl:operation>
    <wsdl:operation name="searchPartnerLeistungserbringer">
      <wsdl:input message="tns:BSPartnerQuerySearchPartnerLeistungserbringerRequest"/>
      <wsdl:output message="tns:BSPartnerQuerySearchPartnerLeistungserbringerResponse"/>
      <wsdl:fault message="tns:BSPartnerInvalidDataFault" name="BSPartnerInvalidDataFault"/>
    </wsdl:operation>
    <wsdl:operation name="searchPartnerMitarbeiter">
      <wsdl:input message="tns:BSPartnerQuerySearchPartnerMitarbeiterRequest"/>
      <wsdl:output message="tns:BSPartnerQuerySearchPartnerMitarbeiterResponse"/>
      <wsdl:fault message="tns:BSPartnerInvalidDataFault" name="BSPartnerInvalidDataFault"/>
    </wsdl:operation>
    <wsdl:operation name="searchPartnerRechnungsteller">
      <wsdl:input message="tns:BSPartnerQuerySearchPartnerRechnungstellerRequest"/>
      <wsdl:output message="tns:BSPartnerQuerySearchPartnerRechnungstellerResponse"/>
      <wsdl:fault message="tns:BSPartnerInvalidDataFault" name="BSPartnerInvalidDataFault"/>
    </wsdl:operation>
    <wsdl:operation name="searchPerson">
      <wsdl:input message="tns:BSPartnerQuerySearchPersonRequest"/>
      <wsdl:output message="tns:BSPartnerQuerySearchPersonResponse"/>
      <wsdl:fault message="tns:BSPartnerInvalidDataFault" name="BSPartnerInvalidDataFault"/>
    </wsdl:operation>
    <wsdl:operation name="searchQuellensteueramt">
      <wsdl:input message="tns:BSPartnerQuerySearchQuellensteueramtRequest"/>
      <wsdl:output message="tns:BSPartnerQuerySearchQuellensteueramtResponse"/>
      <wsdl:fault message="tns:BSPartnerInvalidDataFault" name="BSPartnerInvalidDataFault"/>
    </wsdl:operation>
    <wsdl:operation name="searchRechnungsstellerByLeistungserbringer">
      <wsdl:input message="tns:BSPartnerQuerySearchRechnungsstellerByLeistungserbringerRequest"/>
      <wsdl:output message="tns:BSPartnerQuerySearchRechnungsstellerByLeistungserbringerResponse"/>
      <wsdl:fault message="tns:BSPartnerInvalidDataFault" name="BSPartnerInvalidDataFault"/>
    </wsdl:operation>
    <wsdl:operation name="searchUnternehmen">
      <wsdl:input message="tns:BSPartnerQuerySearchUnternehmenRequest"/>
      <wsdl:output message="tns:BSPartnerQuerySearchUnternehmenResponse"/>
      <wsdl:fault message="tns:BSPartnerInvalidDataFault" name="BSPartnerInvalidDataFault"/>
    </wsdl:operation>
    <wsdl:operation name="validateKunde">
      <wsdl:input message="tns:BSPartnerQueryValidateKundeRequest"/>
      <wsdl:output message="tns:BSPartnerQueryValidateKundeResponse"/>
      <wsdl:fault message="tns:BSPartnerNoDataFoundFault" name="BSPartnerNoDataFoundFault"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:message name="BSPartnerQueryDetermineNationalitaetenRequest">
    <wsdl:part element="tns:determineNationalitaeten" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="BSPartnerQueryDetermineNationalitaetenResponse">
    <wsdl:part element="tns:determineNationalitaetenResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="BSPartnerInvalidDataFault">
    <wsdl:part element="tns:BSPartnerInvalidDataFault" name="fault"/>
  </wsdl:message>
  <wsdl:message name="BSPartnerQueryInspectPartnerUvgRequest">
    <wsdl:part element="tns:inspectPartnerUvg" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="BSPartnerQueryInspectPartnerUvgResponse">
    <wsdl:part element="tns:inspectPartnerUvgResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="BSPartnerQueryReadEntschaedigungsempfaengerRequest">
    <wsdl:part element="tns:readEntschaedigungsempfaenger" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="BSPartnerQueryReadEntschaedigungsempfaengerResponse">
    <wsdl:part element="tns:readEntschaedigungsempfaengerResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="BSPartnerQueryReadHoldingRequest">
    <wsdl:part element="tns:readHolding" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="BSPartnerQueryReadHoldingResponse">
    <wsdl:part element="tns:readHoldingResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="BSPartnerQueryReadMitarbeiterRequest">
    <wsdl:part element="tns:readMitarbeiter" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="BSPartnerQueryReadMitarbeiterResponse">
    <wsdl:part element="tns:readMitarbeiterResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="BSPartnerQueryReadMitbewerberRequest">
    <wsdl:part element="tns:readMitbewerber" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="BSPartnerQueryReadMitbewerberResponse">
    <wsdl:part element="tns:readMitbewerberResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="BSPartnerQueryReadPartnerRequest">
    <wsdl:part element="tns:readPartner" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="BSPartnerQueryReadPartnerResponse">
    <wsdl:part element="tns:readPartnerResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="BSPartnerQueryReadPartnerDiagnoseRequest">
    <wsdl:part element="tns:readPartnerDiagnose" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="BSPartnerQueryReadPartnerDiagnoseResponse">
    <wsdl:part element="tns:readPartnerDiagnoseResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="BSPartnerQueryReadPartnerLeistungserbringerRequest">
    <wsdl:part element="tns:readPartnerLeistungserbringer" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="BSPartnerQueryReadPartnerLeistungserbringerResponse">
    <wsdl:part element="tns:readPartnerLeistungserbringerResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="BSPartnerQueryReadRechnungsstellerRequest">
    <wsdl:part element="tns:readRechnungssteller" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="BSPartnerQueryReadRechnungsstellerResponse">
    <wsdl:part element="tns:readRechnungsstellerResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="BSPartnerQueryReadSprachregionRequest">
    <wsdl:part element="tns:readSprachregion" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="BSPartnerQueryReadSprachregionResponse">
    <wsdl:part element="tns:readSprachregionResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="BSPartnerQueryReadTherapeutRequest">
    <wsdl:part element="tns:readTherapeut" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="BSPartnerQueryReadTherapeutResponse">
    <wsdl:part element="tns:readTherapeutResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="BSPartnerQuerySearchCareManagementFallBetreuerRequest">
    <wsdl:part element="tns:searchCareManagementFallBetreuer" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="BSPartnerQuerySearchCareManagementFallBetreuerResponse">
    <wsdl:part element="tns:searchCareManagementFallBetreuerResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="BSPartnerQuerySearchEntschaedigungsempfaengerRequest">
    <wsdl:part element="tns:searchEntschaedigungsempfaenger" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="BSPartnerQuerySearchEntschaedigungsempfaengerResponse">
    <wsdl:part element="tns:searchEntschaedigungsempfaengerResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="BSPartnerQuerySearchMitbewerberRequest">
    <wsdl:part element="tns:searchMitbewerber" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="BSPartnerQuerySearchMitbewerberResponse">
    <wsdl:part element="tns:searchMitbewerberResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="BSPartnerQuerySearchPartnerRequest">
    <wsdl:part element="tns:searchPartner" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="BSPartnerQuerySearchPartnerResponse">
    <wsdl:part element="tns:searchPartnerResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="BSPartnerQuerySearchPartnerByFremdPartnerNrRequest">
    <wsdl:part element="tns:searchPartnerByFremdPartnerNr" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="BSPartnerQuerySearchPartnerByFremdPartnerNrResponse">
    <wsdl:part element="tns:searchPartnerByFremdPartnerNrResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="BSPartnerQuerySearchPartnerInfoRequest">
    <wsdl:part element="tns:searchPartnerInfo" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="BSPartnerQuerySearchPartnerInfoResponse">
    <wsdl:part element="tns:searchPartnerInfoResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="BSPartnerQuerySearchPartnerLeistungserbringerRequest">
    <wsdl:part element="tns:searchPartnerLeistungserbringer" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="BSPartnerQuerySearchPartnerLeistungserbringerResponse">
    <wsdl:part element="tns:searchPartnerLeistungserbringerResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="BSPartnerQuerySearchPartnerMitarbeiterRequest">
    <wsdl:part element="tns:searchPartnerMitarbeiter" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="BSPartnerQuerySearchPartnerMitarbeiterResponse">
    <wsdl:part element="tns:searchPartnerMitarbeiterResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="BSPartnerQuerySearchPartnerRechnungstellerRequest">
    <wsdl:part element="tns:searchPartnerRechnungsteller" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="BSPartnerQuerySearchPartnerRechnungstellerResponse">
    <wsdl:part element="tns:searchPartnerRechnungstellerResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="BSPartnerQuerySearchPersonRequest">
    <wsdl:part element="tns:searchPerson" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="BSPartnerQuerySearchPersonResponse">
    <wsdl:part element="tns:searchPersonResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="BSPartnerQuerySearchQuellensteueramtRequest">
    <wsdl:part element="tns:searchQuellensteueramt" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="BSPartnerQuerySearchQuellensteueramtResponse">
    <wsdl:part element="tns:searchQuellensteueramtResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="BSPartnerQuerySearchRechnungsstellerByLeistungserbringerRequest">
    <wsdl:part element="tns:searchRechnungsstellerByLeistungserbringer" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="BSPartnerQuerySearchRechnungsstellerByLeistungserbringerResponse">
    <wsdl:part element="tns:searchRechnungsstellerByLeistungserbringerResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="BSPartnerQuerySearchUnternehmenRequest">
    <wsdl:part element="tns:searchUnternehmen" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="BSPartnerQuerySearchUnternehmenResponse">
    <wsdl:part element="tns:searchUnternehmenResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="BSPartnerQueryValidateKundeRequest">
    <wsdl:part element="tns:validateKunde" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="BSPartnerQueryValidateKundeResponse">
    <wsdl:part element="tns:validateKundeResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="BSPartnerNoDataFoundFault">
    <wsdl:part element="tns:BSPartnerNoDataFoundFault" name="fault"/>
  </wsdl:message>
</wsdl:definitions>