import/eBIdentityManagementManager_specification_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- @generated by service_generator. File is not intended to be modified! -->
<wsdl:definitions xmlns:tns="http://www.css.ch/eb_identity_management/eBIdentityManagementManager/1"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    name="eBIdentityManagementManager" targetNamespace="http://www.css.ch/eb_identity_management/eBIdentityManagementManager/1">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.css.ch/eb_identity_management/eBIdentityManagementManager/1"
        version="1">
      <xsd:include schemaLocation="../xsd/eBIdentityManagementManager_1.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:portType name="eBIdentityManagementManager">
    <wsdl:operation name="modifyPasswort">
      <wsdl:input message="tns:eBIdentityManagementManagerModifyPasswortRequest"/>
      <wsdl:output message="tns:eBIdentityManagementManagerModifyPasswortResponse"/>
      <wsdl:fault message="tns:EBDataValidationFault" name="EBDataValidationFault"/>
      <wsdl:fault message="tns:EBAuthenticationFault" name="EBAuthenticationFault"/>
    </wsdl:operation>
    <wsdl:operation name="modifyProfil">
      <wsdl:input message="tns:eBIdentityManagementManagerModifyProfilRequest"/>
      <wsdl:output message="tns:eBIdentityManagementManagerModifyProfilResponse"/>
      <wsdl:fault message="tns:EBUserNameAlreadyPresentFault" name="EBUserNameAlreadyPresentFault"/>
      <wsdl:fault message="tns:EBEmailAlreadyPresentFault" name="EBEmailAlreadyPresentFault"/>
      <wsdl:fault message="tns:EBDataValidationFault" name="EBDataValidationFault"/>
      <wsdl:fault message="tns:EBAuthenticationFault" name="EBAuthenticationFault"/>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <wsdl:input message="tns:eBIdentityManagementManagerPingRequest"/>
      <wsdl:output message="tns:eBIdentityManagementManagerPingResponse"/>
    </wsdl:operation>
    <wsdl:operation name="updatePasswortReset">
      <wsdl:input message="tns:eBIdentityManagementManagerUpdatePasswortResetRequest"/>
      <wsdl:output message="tns:eBIdentityManagementManagerUpdatePasswortResetResponse"/>
      <wsdl:fault message="tns:EBPasswordResetTokenExpiredFault" name="EBPasswordResetTokenExpiredFault"/>
      <wsdl:fault message="tns:EBPartnerNotFoundFault" name="EBPartnerNotFoundFault"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:message name="eBIdentityManagementManagerModifyPasswortRequest">
    <wsdl:part element="tns:modifyPasswort" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="eBIdentityManagementManagerModifyPasswortResponse">
    <wsdl:part element="tns:modifyPasswortResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="EBDataValidationFault">
    <wsdl:part element="tns:EBDataValidationFault" name="fault"/>
  </wsdl:message>
  <wsdl:message name="EBAuthenticationFault">
    <wsdl:part element="tns:EBAuthenticationFault" name="fault"/>
  </wsdl:message>
  <wsdl:message name="eBIdentityManagementManagerModifyProfilRequest">
    <wsdl:part element="tns:modifyProfil" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="eBIdentityManagementManagerModifyProfilResponse">
    <wsdl:part element="tns:modifyProfilResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="EBUserNameAlreadyPresentFault">
    <wsdl:part element="tns:EBUserNameAlreadyPresentFault" name="fault"/>
  </wsdl:message>
  <wsdl:message name="EBEmailAlreadyPresentFault">
    <wsdl:part element="tns:EBEmailAlreadyPresentFault" name="fault"/>
  </wsdl:message>
  <wsdl:message name="eBIdentityManagementManagerPingRequest">
    <wsdl:part element="tns:ping" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="eBIdentityManagementManagerPingResponse">
    <wsdl:part element="tns:pingResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="eBIdentityManagementManagerUpdatePasswortResetRequest">
    <wsdl:part element="tns:updatePasswortReset" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="eBIdentityManagementManagerUpdatePasswortResetResponse">
    <wsdl:part element="tns:updatePasswortResetResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="EBPasswordResetTokenExpiredFault">
    <wsdl:part element="tns:EBPasswordResetTokenExpiredFault" name="fault"/>
  </wsdl:message>
  <wsdl:message name="EBPartnerNotFoundFault">
    <wsdl:part element="tns:EBPartnerNotFoundFault" name="fault"/>
  </wsdl:message>
</wsdl:definitions>