import/eBIdentityManagementLogic_specification_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- @generated by service_generator. File is not intended to be modified! -->
<wsdl:definitions xmlns:tns="http://www.css.ch/eb_identity_management/eBIdentityManagementLogic/1"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    name="eBIdentityManagementLogic" targetNamespace="http://www.css.ch/eb_identity_management/eBIdentityManagementLogic/1">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.css.ch/eb_identity_management/eBIdentityManagementLogic/1"
        version="1">
      <xsd:include schemaLocation="../xsd/eBIdentityManagementLogic_1.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:portType name="eBIdentityManagementLogic">
    <wsdl:operation name="ping">
      <wsdl:input message="tns:eBIdentityManagementLogicPingRequest"/>
      <wsdl:output message="tns:eBIdentityManagementLogicPingResponse"/>
    </wsdl:operation>
    <wsdl:operation name="submitIdentificationLetterRequest">
      <wsdl:input message="tns:eBIdentityManagementLogicSubmitIdentificationLetterRequestRequest"/>
      <wsdl:output message="tns:eBIdentityManagementLogicSubmitIdentificationLetterRequestResponse"/>
      <wsdl:fault message="tns:EBIakTooRecentlyIssuedFault" name="EBIakTooRecentlyIssuedFault"/>
    </wsdl:operation>
    <wsdl:operation name="generateActivationCode">
      <wsdl:input message="tns:eBIdentityManagementLogicGenerateActivationCodeRequest"/>
      <wsdl:output message="tns:eBIdentityManagementLogicGenerateActivationCodeResponse"/>
      <wsdl:fault message="tns:EBGenerateActivationCodeFault" name="EBGenerateActivationCodeFault"/>
    </wsdl:operation>
    <wsdl:operation name="submitIdentificationLetterRequestInAdvance">
      <wsdl:input message="tns:eBIdentityManagementLogicSubmitIdentificationLetterRequestInAdvanceRequest"/>
      <wsdl:output message="tns:eBIdentityManagementLogicSubmitIdentificationLetterRequestInAdvanceResponse"/>
      <wsdl:fault message="tns:EBIdentificationLetterRequestInAdvanceFault" name="EBIdentificationLetterRequestInAdvanceFault"/>
    </wsdl:operation>
    <wsdl:operation name="submitIdentificationLetterRequestSelf">
      <wsdl:input message="tns:eBIdentityManagementLogicSubmitIdentificationLetterRequestSelfRequest"/>
      <wsdl:output message="tns:eBIdentityManagementLogicSubmitIdentificationLetterRequestSelfResponse"/>
      <wsdl:fault message="tns:EBIakTooRecentlyIssuedFault" name="EBIakTooRecentlyIssuedFault"/>
    </wsdl:operation>
    <wsdl:operation name="submitPasswortReset">
      <wsdl:input message="tns:eBIdentityManagementLogicSubmitPasswortResetRequest"/>
      <wsdl:output message="tns:eBIdentityManagementLogicSubmitPasswortResetResponse"/>
      <wsdl:fault message="tns:EBPartnerNotFoundFault" name="EBPartnerNotFoundFault"/>
    </wsdl:operation>
    <wsdl:operation name="submitRegistrierung">
      <wsdl:input message="tns:eBIdentityManagementLogicSubmitRegistrierungRequest"/>
      <wsdl:output message="tns:eBIdentityManagementLogicSubmitRegistrierungResponse"/>
      <wsdl:fault message="tns:EBUserNameAlreadyPresentFault" name="EBUserNameAlreadyPresentFault"/>
      <wsdl:fault message="tns:EBDataValidationFault" name="EBDataValidationFault"/>
      <wsdl:fault message="tns:EBEmailAlreadyPresentFault" name="EBEmailAlreadyPresentFault"/>
      <wsdl:fault message="tns:EBPartnerAlreadySignedUpFault" name="EBPartnerAlreadySignedUpFault"/>
    </wsdl:operation>
    <wsdl:operation name="submitSms">
      <wsdl:input message="tns:eBIdentityManagementLogicSubmitSmsRequest"/>
      <wsdl:output message="tns:eBIdentityManagementLogicSubmitSmsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="submitTelefonRegistrierungFirstStep">
      <wsdl:input message="tns:eBIdentityManagementLogicSubmitTelefonRegistrierungFirstStepRequest"/>
      <wsdl:output message="tns:eBIdentityManagementLogicSubmitTelefonRegistrierungFirstStepResponse"/>
      <wsdl:fault message="tns:EBNoValidIakFault" name="EBNoValidIakFault"/>
    </wsdl:operation>
    <wsdl:operation name="submitTelefonRegistrierungSecondStep">
      <wsdl:input message="tns:eBIdentityManagementLogicSubmitTelefonRegistrierungSecondStepRequest"/>
      <wsdl:output message="tns:eBIdentityManagementLogicSubmitTelefonRegistrierungSecondStepResponse"/>
      <wsdl:fault message="tns:EBNoValidIakFault" name="EBNoValidIakFault"/>
      <wsdl:fault message="tns:EBOtpFailedFault" name="EBOtpFailedFault"/>
    </wsdl:operation>
    <wsdl:operation name="submitVerifyRegistrierung">
      <wsdl:input message="tns:eBIdentityManagementLogicSubmitVerifyRegistrierungRequest"/>
      <wsdl:output message="tns:eBIdentityManagementLogicSubmitVerifyRegistrierungResponse"/>
      <wsdl:fault message="tns:EBEmailVerificationNotPossibleFault" name="EBEmailVerificationNotPossibleFault"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:message name="eBIdentityManagementLogicPingRequest">
    <wsdl:part element="tns:ping" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="eBIdentityManagementLogicPingResponse">
    <wsdl:part element="tns:pingResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="eBIdentityManagementLogicSubmitIdentificationLetterRequestRequest">
    <wsdl:part element="tns:submitIdentificationLetterRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="eBIdentityManagementLogicSubmitIdentificationLetterRequestResponse">
    <wsdl:part element="tns:submitIdentificationLetterRequestResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="EBIakTooRecentlyIssuedFault">
    <wsdl:part element="tns:EBIakTooRecentlyIssuedFault" name="fault"/>
  </wsdl:message>
  <wsdl:message name="eBIdentityManagementLogicGenerateActivationCodeRequest">
    <wsdl:part element="tns:generateActivationCode" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="eBIdentityManagementLogicGenerateActivationCodeResponse">
    <wsdl:part element="tns:generateActivationCodeResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="EBGenerateActivationCodeFault">
    <wsdl:part element="tns:EBGenerateActivationCodeFault" name="fault"/>
  </wsdl:message>
  <wsdl:message name="eBIdentityManagementLogicSubmitIdentificationLetterRequestInAdvanceRequest">
    <wsdl:part element="tns:submitIdentificationLetterRequestInAdvance" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="eBIdentityManagementLogicSubmitIdentificationLetterRequestInAdvanceResponse">
    <wsdl:part element="tns:submitIdentificationLetterRequestInAdvanceResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="EBIdentificationLetterRequestInAdvanceFault">
    <wsdl:part element="tns:EBIdentificationLetterRequestInAdvanceFault" name="fault"/>
  </wsdl:message>
  <wsdl:message name="eBIdentityManagementLogicSubmitIdentificationLetterRequestSelfRequest">
    <wsdl:part element="tns:submitIdentificationLetterRequestSelf" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="eBIdentityManagementLogicSubmitIdentificationLetterRequestSelfResponse">
    <wsdl:part element="tns:submitIdentificationLetterRequestSelfResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="eBIdentityManagementLogicSubmitPasswortResetRequest">
    <wsdl:part element="tns:submitPasswortReset" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="eBIdentityManagementLogicSubmitPasswortResetResponse">
    <wsdl:part element="tns:submitPasswortResetResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="EBPartnerNotFoundFault">
    <wsdl:part element="tns:EBPartnerNotFoundFault" name="fault"/>
  </wsdl:message>
  <wsdl:message name="eBIdentityManagementLogicSubmitRegistrierungRequest">
    <wsdl:part element="tns:submitRegistrierung" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="eBIdentityManagementLogicSubmitRegistrierungResponse">
    <wsdl:part element="tns:submitRegistrierungResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="EBUserNameAlreadyPresentFault">
    <wsdl:part element="tns:EBUserNameAlreadyPresentFault" name="fault"/>
  </wsdl:message>
  <wsdl:message name="EBDataValidationFault">
    <wsdl:part element="tns:EBDataValidationFault" name="fault"/>
  </wsdl:message>
  <wsdl:message name="EBEmailAlreadyPresentFault">
    <wsdl:part element="tns:EBEmailAlreadyPresentFault" name="fault"/>
  </wsdl:message>
  <wsdl:message name="EBPartnerAlreadySignedUpFault">
    <wsdl:part element="tns:EBPartnerAlreadySignedUpFault" name="fault"/>
  </wsdl:message>
  <wsdl:message name="eBIdentityManagementLogicSubmitSmsRequest">
    <wsdl:part element="tns:submitSms" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="eBIdentityManagementLogicSubmitSmsResponse">
    <wsdl:part element="tns:submitSmsResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="eBIdentityManagementLogicSubmitTelefonRegistrierungFirstStepRequest">
    <wsdl:part element="tns:submitTelefonRegistrierungFirstStep" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="eBIdentityManagementLogicSubmitTelefonRegistrierungFirstStepResponse">
    <wsdl:part element="tns:submitTelefonRegistrierungFirstStepResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="EBNoValidIakFault">
    <wsdl:part element="tns:EBNoValidIakFault" name="fault"/>
  </wsdl:message>
  <wsdl:message name="eBIdentityManagementLogicSubmitTelefonRegistrierungSecondStepRequest">
    <wsdl:part element="tns:submitTelefonRegistrierungSecondStep" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="eBIdentityManagementLogicSubmitTelefonRegistrierungSecondStepResponse">
    <wsdl:part element="tns:submitTelefonRegistrierungSecondStepResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="EBOtpFailedFault">
    <wsdl:part element="tns:EBOtpFailedFault" name="fault"/>
  </wsdl:message>
  <wsdl:message name="eBIdentityManagementLogicSubmitVerifyRegistrierungRequest">
    <wsdl:part element="tns:submitVerifyRegistrierung" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="eBIdentityManagementLogicSubmitVerifyRegistrierungResponse">
    <wsdl:part element="tns:submitVerifyRegistrierungResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="EBEmailVerificationNotPossibleFault">
    <wsdl:part element="tns:EBEmailVerificationNotPossibleFault" name="fault"/>
  </wsdl:message>
</wsdl:definitions>