import/eBIdentityManagementQuery_specification_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- @generated by service_generator. File is not intended to be modified! -->
<wsdl:definitions xmlns:tns="http://www.css.ch/eb_identity_management/eBIdentityManagementQuery/1"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    name="eBIdentityManagementQuery" targetNamespace="http://www.css.ch/eb_identity_management/eBIdentityManagementQuery/1">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.css.ch/eb_identity_management/eBIdentityManagementQuery/1"
        version="1">
      <xsd:include schemaLocation="../xsd/eBIdentityManagementQuery_1.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:portType name="eBIdentityManagementQuery">
    <wsdl:operation name="ping">
      <wsdl:input message="tns:eBIdentityManagementQueryPingRequest"/>
      <wsdl:output message="tns:eBIdentityManagementQueryPingResponse"/>
    </wsdl:operation>
    <wsdl:operation name="readIdentificationLetterIssueDate">
      <wsdl:input message="tns:eBIdentityManagementQueryReadIdentificationLetterIssueDateRequest"/>
      <wsdl:output message="tns:eBIdentityManagementQueryReadIdentificationLetterIssueDateResponse"/>
      <wsdl:fault message="tns:EBNoPendingIakFault" name="EBNoPendingIakFault"/>
    </wsdl:operation>
    <wsdl:operation name="readMtanStatus">
      <wsdl:input message="tns:eBIdentityManagementQueryReadMtanStatusRequest"/>
      <wsdl:output message="tns:eBIdentityManagementQueryReadMtanStatusResponse"/>
      <wsdl:fault message="tns:EBDataValidationFault" name="EBDataValidationFault"/>
    </wsdl:operation>
    <wsdl:operation name="readProfil">
      <wsdl:input message="tns:eBIdentityManagementQueryReadProfilRequest"/>
      <wsdl:output message="tns:eBIdentityManagementQueryReadProfilResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:message name="eBIdentityManagementQueryPingRequest">
    <wsdl:part element="tns:ping" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="eBIdentityManagementQueryPingResponse">
    <wsdl:part element="tns:pingResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="eBIdentityManagementQueryReadIdentificationLetterIssueDateRequest">
    <wsdl:part element="tns:readIdentificationLetterIssueDate" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="eBIdentityManagementQueryReadIdentificationLetterIssueDateResponse">
    <wsdl:part element="tns:readIdentificationLetterIssueDateResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="EBNoPendingIakFault">
    <wsdl:part element="tns:EBNoPendingIakFault" name="fault"/>
  </wsdl:message>
  <wsdl:message name="eBIdentityManagementQueryReadMtanStatusRequest">
    <wsdl:part element="tns:readMtanStatus" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="eBIdentityManagementQueryReadMtanStatusResponse">
    <wsdl:part element="tns:readMtanStatusResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="EBDataValidationFault">
    <wsdl:part element="tns:EBDataValidationFault" name="fault"/>
  </wsdl:message>
  <wsdl:message name="eBIdentityManagementQueryReadProfilRequest">
    <wsdl:part element="tns:readProfil" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="eBIdentityManagementQueryReadProfilResponse">
    <wsdl:part element="tns:readProfilResponse" name="parameters"/>
  </wsdl:message>
</wsdl:definitions>