import/OnlineRegistrationProcess_specification_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- @generated @ 18.09.2012 13:33:43 by service_generator (v6.1.1 from 2012-01-18 10:49:29) -->
<wsdl:definitions
	xmlns:tns="http://www.css.ch/eb_onlineregistrationprocess/OnlineRegistrationProcess/1" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	name="OnlineRegistrationProcess" 
	targetNamespace="http://www.css.ch/eb_onlineregistrationprocess/OnlineRegistrationProcess/1">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.css.ch/eb_onlineregistrationprocess/OnlineRegistrationProcess/1"
        version="1.0">
      <xsd:include schemaLocation="../xsd/OnlineRegistrationProcess_1.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:portType name="OnlineRegistrationProcess">
    <wsdl:operation name="executeOnlineRegistrationProcess">
      <wsdl:input message="tns:ExecuteOnlineRegistrationProcessRequest"/>
      <wsdl:output message="tns:ExecuteOnlineRegistrationProcessResponse"/>
      <wsdl:fault name="OnlineRegistrationProcessFault" message="tns:OnlineRegistrationProcessFault"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="executeRoleSynchronizationProcess">
      <wsdl:input message="tns:ExecuteRoleSynchronizationProcessRequest"/>
      <wsdl:output message="tns:ExecuteRoleSynchronizationProcessResponse"/>
      <wsdl:fault name="OnlineRegistrationProcessFault" message="tns:OnlineRegistrationProcessFault"></wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:message name="ExecuteOnlineRegistrationProcessRequest">
    <wsdl:part element="tns:executeOnlineRegistrationProcess" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ExecuteOnlineRegistrationProcessResponse">
    <wsdl:part element="tns:executeOnlineRegistrationProcessResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ExecuteRoleSynchronizationProcessRequest">
    <wsdl:part element="tns:executeRoleSynchronizationProcess" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ExecuteRoleSynchronizationProcessResponse">
    <wsdl:part element="tns:executeRoleSynchronizationProcessResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="OnlineRegistrationProcessFault">
    <wsdl:part element="tns:OnlineRegistrationProcessFault" name="fault"/>
  </wsdl:message>
</wsdl:definitions>