xsd/BSPartnerQuery_26.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- @generated by service_generator. File is not intended to be modified! -->
<xsd:schema
    xmlns:par="http://www.css.ch/bs/partner/26" xmlns:tns="http://www.css.ch/bs/partner/BSPartnerQuery/26"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://www.css.ch/bs/partner/BSPartnerQuery/26" version="26">
  <xsd:import namespace="http://www.css.ch/bs/partner/26" schemaLocation="ch_css_bs_partner_26.xsd"/>
  <xsd:element name="BSPartnerInvalidDataFault" type="par:BSPartnerInvalidDataException"/>
  <xsd:element name="BSPartnerNoDataFoundFault" type="par:BSPartnerNoDataFoundException"/>
  <xsd:element name="determineNationalitaeten" type="tns:determineNationalitaeten"/>
  <xsd:element name="determineNationalitaetenResponse" type="tns:determineNationalitaetenResponse"/>
  <xsd:element name="inspectPartnerUvg" type="tns:inspectPartnerUvg"/>
  <xsd:element name="inspectPartnerUvgResponse" type="tns:inspectPartnerUvgResponse"/>
  <xsd:element name="readEntschaedigungsempfaenger" type="tns:readEntschaedigungsempfaenger"/>
  <xsd:element name="readEntschaedigungsempfaengerResponse" type="tns:readEntschaedigungsempfaengerResponse"/>
  <xsd:element name="readHolding" type="tns:readHolding"/>
  <xsd:element name="readHoldingResponse" type="tns:readHoldingResponse"/>
  <xsd:element name="readMitarbeiter" type="tns:readMitarbeiter"/>
  <xsd:element name="readMitarbeiterResponse" type="tns:readMitarbeiterResponse"/>
  <xsd:element name="readMitbewerber" type="tns:readMitbewerber"/>
  <xsd:element name="readMitbewerberResponse" type="tns:readMitbewerberResponse"/>
  <xsd:element name="readPartner" type="tns:readPartner"/>
  <xsd:element name="readPartnerDiagnose" type="tns:readPartnerDiagnose"/>
  <xsd:element name="readPartnerDiagnoseResponse" type="tns:readPartnerDiagnoseResponse"/>
  <xsd:element name="readPartnerLeistungserbringer" type="tns:readPartnerLeistungserbringer"/>
  <xsd:element name="readPartnerLeistungserbringerResponse" type="tns:readPartnerLeistungserbringerResponse"/>
  <xsd:element name="readPartnerResponse" type="tns:readPartnerResponse"/>
  <xsd:element name="readRechnungssteller" type="tns:readRechnungssteller"/>
  <xsd:element name="readRechnungsstellerResponse" type="tns:readRechnungsstellerResponse"/>
  <xsd:element name="readSprachregion" type="tns:readSprachregion"/>
  <xsd:element name="readSprachregionResponse" type="tns:readSprachregionResponse"/>
  <xsd:element name="readTherapeut" type="tns:readTherapeut"/>
  <xsd:element name="readTherapeutResponse" type="tns:readTherapeutResponse"/>
  <xsd:element name="searchCareManagementFallBetreuer" type="tns:searchCareManagementFallBetreuer"/>
  <xsd:element name="searchCareManagementFallBetreuerResponse" type="tns:searchCareManagementFallBetreuerResponse"/>
  <xsd:element name="searchEntschaedigungsempfaenger" type="tns:searchEntschaedigungsempfaenger"/>
  <xsd:element name="searchEntschaedigungsempfaengerResponse" type="tns:searchEntschaedigungsempfaengerResponse"/>
  <xsd:element name="searchMitbewerber" type="tns:searchMitbewerber"/>
  <xsd:element name="searchMitbewerberResponse" type="tns:searchMitbewerberResponse"/>
  <xsd:element name="searchPartner" type="tns:searchPartner"/>
  <xsd:element name="searchPartnerByFremdPartnerNr" type="tns:searchPartnerByFremdPartnerNr"/>
  <xsd:element name="searchPartnerByFremdPartnerNrResponse" type="tns:searchPartnerByFremdPartnerNrResponse"/>
  <xsd:element name="searchPartnerInfo" type="tns:searchPartnerInfo"/>
  <xsd:element name="searchPartnerInfoResponse" type="tns:searchPartnerInfoResponse"/>
  <xsd:element name="searchPartnerLeistungserbringer" type="tns:searchPartnerLeistungserbringer"/>
  <xsd:element name="searchPartnerLeistungserbringerResponse" type="tns:searchPartnerLeistungserbringerResponse"/>
  <xsd:element name="searchPartnerMitarbeiter" type="tns:searchPartnerMitarbeiter"/>
  <xsd:element name="searchPartnerMitarbeiterResponse" type="tns:searchPartnerMitarbeiterResponse"/>
  <xsd:element name="searchPartnerRechnungsteller" type="tns:searchPartnerRechnungsteller"/>
  <xsd:element name="searchPartnerRechnungstellerResponse" type="tns:searchPartnerRechnungstellerResponse"/>
  <xsd:element name="searchPartnerResponse" type="tns:searchPartnerResponse"/>
  <xsd:element name="searchPerson" type="tns:searchPerson"/>
  <xsd:element name="searchPersonResponse" type="tns:searchPersonResponse"/>
  <xsd:element name="searchQuellensteueramt" type="tns:searchQuellensteueramt"/>
  <xsd:element name="searchQuellensteueramtResponse" type="tns:searchQuellensteueramtResponse"/>
  <xsd:element name="searchRechnungsstellerByLeistungserbringer" type="tns:searchRechnungsstellerByLeistungserbringer"/>
  <xsd:element name="searchRechnungsstellerByLeistungserbringerResponse" type="tns:searchRechnungsstellerByLeistungserbringerResponse"/>
  <xsd:element name="searchUnternehmen" type="tns:searchUnternehmen"/>
  <xsd:element name="searchUnternehmenResponse" type="tns:searchUnternehmenResponse"/>
  <xsd:element name="validateKunde" type="tns:validateKunde"/>
  <xsd:element name="validateKundeResponse" type="tns:validateKundeResponse"/>
  <xsd:complexType name="determineNationalitaeten">
    <xsd:sequence>
      <xsd:element name="in" type="par:BSPartnerQueryDetermineNationalitaetenInContainer"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="determineNationalitaetenResponse">
    <xsd:sequence>
      <xsd:element name="returnValue" type="par:BSPartnerQueryDetermineNationalitaetenOutContainer"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="inspectPartnerUvg">
    <xsd:sequence>
      <xsd:element name="in" type="par:BSPartnerQueryInspectPartnerUvgInContainer"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="inspectPartnerUvgResponse">
    <xsd:sequence>
      <xsd:element name="returnValue" type="par:BSPartnerQueryInspectPartnerUvgOutContainer"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="readEntschaedigungsempfaenger">
    <xsd:sequence>
      <xsd:element name="in" type="par:BSPartnerQueryReadEntschaedigungsempfaengerInContainer"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="readEntschaedigungsempfaengerResponse">
    <xsd:sequence>
      <xsd:element name="returnValue" type="par:BSPartnerQueryReadEntschaedigungsempfaengerOutContainer"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="readHolding">
    <xsd:sequence>
      <xsd:element name="in" type="par:BSPartnerQueryReadHoldingInContainer"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="readHoldingResponse">
    <xsd:sequence>
      <xsd:element name="returnValue" type="par:BSPartnerQueryReadHoldingOutContainer"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="readMitarbeiter">
    <xsd:sequence>
      <xsd:element name="in" type="par:BSPartnerQueryReadMitarbeiterInContainer"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="readMitarbeiterResponse">
    <xsd:sequence>
      <xsd:element name="returnValue" type="par:BSPartnerQueryReadMitarbeiterOutContainer"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="readMitbewerber">
    <xsd:sequence>
      <xsd:element name="in" type="par:BSPartnerQueryReadMitbewerberInContainer"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="readMitbewerberResponse">
    <xsd:sequence>
      <xsd:element name="returnValue" type="par:BSPartnerQueryReadMitbewerberOutContainer"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="readPartner">
    <xsd:sequence>
      <xsd:element name="in" type="par:BSPartnerQueryReadPartnerInContainer"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="readPartnerDiagnose">
    <xsd:sequence>
      <xsd:element name="in" type="par:BSPartnerQueryReadPartnerDiagnoseInContainer"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="readPartnerDiagnoseResponse">
    <xsd:sequence>
      <xsd:element name="returnValue" type="par:BSPartnerQueryReadPartnerDiagnoseOutContainer"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="readPartnerLeistungserbringer">
    <xsd:sequence>
      <xsd:element name="in" type="par:BSPartnerQueryReadPartnerLeistungserbringerInContainer"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="readPartnerLeistungserbringerResponse">
    <xsd:sequence>
      <xsd:element name="returnValue" type="par:BSPartnerQueryReadPartnerLeistungserbringerOutContainer"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="readPartnerResponse">
    <xsd:sequence>
      <xsd:element name="returnValue" type="par:BSPartnerQueryReadPartnerOutContainer"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="readRechnungssteller">
    <xsd:sequence>
      <xsd:element name="in" type="par:BSPartnerQueryReadRechnungsstellerInContainer"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="readRechnungsstellerResponse">
    <xsd:sequence>
      <xsd:element name="returnValue" type="par:BSPartnerQueryReadRechnungsstellerOutContainer"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="readSprachregion">
    <xsd:sequence>
      <xsd:element name="in" type="par:BSPartnerQueryReadSprachregionInContainer"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="readSprachregionResponse">
    <xsd:sequence>
      <xsd:element name="returnValue" type="par:BSPartnerQueryReadSprachregionOutContainer"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="readTherapeut">
    <xsd:sequence>
      <xsd:element name="in" type="par:BSPartnerQueryReadTherapeutInContainer"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="readTherapeutResponse">
    <xsd:sequence>
      <xsd:element name="returnValue" type="par:BSPartnerQueryReadTherapeutOutContainer"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="searchCareManagementFallBetreuer">
    <xsd:sequence>
      <xsd:element name="in" type="par:BSPartnerQuerySearchCareManagementFallBetreuerInContainer"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="searchCareManagementFallBetreuerResponse">
    <xsd:sequence>
      <xsd:element name="returnValue" type="par:BSPartnerQuerySearchCareManagementFallBetreuerOutContainer"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="searchEntschaedigungsempfaenger">
    <xsd:sequence>
      <xsd:element name="in" type="par:BSPartnerQuerySearchEntschaedigungsempfaengerInContainer"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="searchEntschaedigungsempfaengerResponse">
    <xsd:sequence>
      <xsd:element name="returnValue" type="par:BSPartnerQuerySearchEntschaedigungsempfaengerOutContainer"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="searchMitbewerber">
    <xsd:sequence>
      <xsd:element name="in" type="par:BSPartnerQuerySearchMitbewerberInContainer"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="searchMitbewerberResponse">
    <xsd:sequence>
      <xsd:element name="returnValue" type="par:BSPartnerQuerySearchMitbewerberOutContainer"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="searchPartner">
    <xsd:sequence>
      <xsd:element name="in" type="par:BSPartnerQuerySearchPartnerInContainer"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="searchPartnerByFremdPartnerNr">
    <xsd:sequence>
      <xsd:element name="in" type="par:BSPartnerQuerySearchPartnerByFremdPartnerNrInContainer"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="searchPartnerByFremdPartnerNrResponse">
    <xsd:sequence>
      <xsd:element name="returnValue" type="par:BSPartnerQuerySearchPartnerByFremdPartnerNrOutContainer"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="searchPartnerInfo">
    <xsd:sequence>
      <xsd:element name="in" type="par:BSPartnerQuerySearchPartnerInfoInContainer"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="searchPartnerInfoResponse">
    <xsd:sequence>
      <xsd:element name="returnValue" type="par:BSPartnerQuerySearchPartnerInfoOutContainer"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="searchPartnerLeistungserbringer">
    <xsd:sequence>
      <xsd:element name="in" type="par:BSPartnerQuerySearchPartnerLeistungserbringerInContainer"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="searchPartnerLeistungserbringerResponse">
    <xsd:sequence>
      <xsd:element name="returnValue" type="par:BSPartnerQuerySearchPartnerLeistungserbringerOutContainer"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="searchPartnerMitarbeiter">
    <xsd:sequence>
      <xsd:element name="in" type="par:BSPartnerQuerySearchPartnerMitarbeiterInContainer"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="searchPartnerMitarbeiterResponse">
    <xsd:sequence>
      <xsd:element name="returnValue" type="par:BSPartnerQuerySearchPartnerMitarbeiterOutContainer"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="searchPartnerRechnungsteller">
    <xsd:sequence>
      <xsd:element name="in" type="par:BSPartnerQuerySearchPartnerRechnungsstellerInContainer"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="searchPartnerRechnungstellerResponse">
    <xsd:sequence>
      <xsd:element name="returnValue" type="par:BSPartnerQuerySearchPartnerRechnungsstellerOutContainer"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="searchPartnerResponse">
    <xsd:sequence>
      <xsd:element name="returnValue" type="par:BSPartnerQuerySearchPartnerOutContainer"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="searchPerson">
    <xsd:sequence>
      <xsd:element name="in" type="par:BSPartnerQuerySearchPersonInContainer"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="searchPersonResponse">
    <xsd:sequence>
      <xsd:element name="returnValue" type="par:BSPartnerQuerySearchPersonOutContainer"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="searchQuellensteueramt">
    <xsd:sequence>
      <xsd:element name="in" type="par:BSPartnerQuerySearchQuellensteueramtInContainer"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="searchQuellensteueramtResponse">
    <xsd:sequence>
      <xsd:element name="returnValue" type="par:BSPartnerQuerySearchQuellensteueramtOutContainer"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="searchRechnungsstellerByLeistungserbringer">
    <xsd:sequence>
      <xsd:element name="in" type="par:BSPartnerQuerySearchRechnungsstellerByLeistungserbringerInContainer"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="searchRechnungsstellerByLeistungserbringerResponse">
    <xsd:sequence>
      <xsd:element name="returnValue" type="par:BSPartnerQuerySearchRechnungsstellerByLeistungserbringerOutContainer"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="searchUnternehmen">
    <xsd:sequence>
      <xsd:element name="in" type="par:BSPartnerQuerySearchUnternehmenInContainer"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="searchUnternehmenResponse">
    <xsd:sequence>
      <xsd:element name="returnValue" type="par:BSPartnerQuerySearchUnternehmenOutContainer"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="validateKunde">
    <xsd:sequence>
      <xsd:element name="In" type="par:BSPartnerQueryValidateKundeInContainer"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="validateKundeResponse">
    <xsd:sequence>
      <xsd:element name="returnValue" type="par:BSPartnerQueryValidateKundeOutContainer"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>