xsd/ch_css_bs_partner_26.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- @generated by service_generator. File is not intended to be modified! -->
<xsd:schema
    xmlns:bofw="http://www.css.ch/bo/common/2" xmlns:bsfw="http://www.css.ch/bs/runtime/2"
    xmlns:cdinex="http://www.css.ch/code/inexkasso/5" xmlns:cent="http://www.css.ch/code/entschaedigung/6"
    xmlns:chcomp="http://www.css.ch/code/hilfskomponenten/9" xmlns:clst="http://www.css.ch/code/leistung/42"
    xmlns:codf="http://www.css.ch/code/fibu/9" xmlns:corm="http://www.css.ch/code/orm/11"
    xmlns:cpar="http://www.css.ch/code/partner/25" xmlns:cprd="http://www.css.ch/code/produkt/24"
    xmlns:cvtr="http://www.css.ch/code/vertrag/21" xmlns:par="http://www.css.ch/bs/partner/26"
    xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="1.0"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://www.css.ch/bs/partner/26" version="26">
  <xsd:import namespace="http://www.css.ch/bo/common/2" schemaLocation="ch_css_bo_common_2.xsd"/>
  <xsd:import namespace="http://www.css.ch/bs/runtime/2" schemaLocation="ch_css_bs_runtime_2.xsd"/>
  <xsd:import namespace="http://www.css.ch/code/entschaedigung/6" schemaLocation="ch_css_code_entschaedigung_6.xsd"/>
  <xsd:import namespace="http://www.css.ch/code/fibu/9" schemaLocation="ch_css_code_fibu_9.xsd"/>
  <xsd:import namespace="http://www.css.ch/code/hilfskomponenten/9" schemaLocation="ch_css_code_hilfskomponenten_9.xsd"/>
  <xsd:import namespace="http://www.css.ch/code/inexkasso/5" schemaLocation="ch_css_code_inexkasso_5.xsd"/>
  <xsd:import namespace="http://www.css.ch/code/leistung/42" schemaLocation="ch_css_code_leistung_42.xsd"/>
  <xsd:import namespace="http://www.css.ch/code/orm/11" schemaLocation="ch_css_code_orm_11.xsd"/>
  <xsd:import namespace="http://www.css.ch/code/partner/25" schemaLocation="ch_css_code_partner_25.xsd"/>
  <xsd:import namespace="http://www.css.ch/code/produkt/24" schemaLocation="ch_css_code_produkt_24.xsd"/>
  <xsd:import namespace="http://www.css.ch/code/vertrag/21" schemaLocation="ch_css_code_vertrag_21.xsd"/>
  <xsd:complexType name="BSASCATherapeut">
    <xsd:complexContent>
      <xsd:extension base="par:BSLeistungserbringer">
        <xsd:sequence/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="BSAbstractVertriebszuteilung">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="orgEinheitsNr" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="orgTyp" type="cpar:DivisionType"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="positionNr" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="posTyp" type="cpar:PositionType"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="positionPrimaerMitarbeiterPartnerNr"
          type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="positionsBezeichnung" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="zuteilungsArt" type="cpar:ZuteilungsArt"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="manuell" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSAdresse">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="adressNr" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="gueltigBis" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="gueltigVon" type="xsd:date"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSAdressePrintDataRequestVonAdresseNr_03">
    <xsd:complexContent>
      <xsd:extension base="par:BSPartnerPrintDataRequestAdresseQuery">
        <xsd:sequence/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BSAdressePrintDataRequest_01">
    <xsd:complexContent>
      <xsd:extension base="par:BSPartnerPrintDataRequestPartnerQuery">
        <xsd:sequence/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BSAdressePrintDataRequest_02">
    <xsd:complexContent>
      <xsd:extension base="par:BSPartnerPrintDataRequestPartnerQuery">
        <xsd:sequence/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BSAdressePrintDataRequest_03">
    <xsd:complexContent>
      <xsd:extension base="par:BSPartnerPrintDataRequestPartnerQuery">
        <xsd:sequence/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BSAdresseQueryReadAdresseInContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="stichdatum" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="adressNr" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSAdresseQueryReadAdresseOutContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="adresse" type="par:BSAdresse"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSAdresseQuerySearchAdresseInContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="partnerNr" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="adressTyp" type="cpar:Adresstyp"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="adressVerwendung" type="cpar:Adressverwendung"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="stichdatum" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="beginnDatum" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="endeDatum" type="xsd:date"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSAdresseQuerySearchAdresseOutContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="searchadresseperiode"
          type="par:BSSearchAdressePeriode"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSAdresseQuerySearchGemeindedatenInContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="ort" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="postleitzahl" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="postleitzahlZusatz" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="plzFilterung" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="stichdatum" type="xsd:date"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSAdresseQuerySearchGemeindedatenOutContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="gemeindedaten" type="par:BSGemeindedaten"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSBank">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="plz" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="gueltigVon" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="gueltigBis" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="land" type="cpar:Country"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="bankClearingNummer" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="filialId" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="mutationsDatum" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="mutierer" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="bankinstitut" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="domizil" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="ort" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="swiftAdresse" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="bankengruppe" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="postbankGiroKz" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="postkonto" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSBankKonto">
    <xsd:complexContent>
      <xsd:extension base="par:BSKonto">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="kontoNr" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="bankName" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="clearingNr" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="adresse" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="postleitzahl" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="ort" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="land" type="cpar:Country"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="filialId" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="kontoNrZusatz" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="iban" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="pcNr" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BSBeguenstigterKonto">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="zahlungsweg" type="cpar:ZahlwegExtern"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="kontoverbindungsNr" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSBehandlungsart">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="behandlungsart" type="clst:Behandlungsart"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSBehandlungsgrund">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="behandlungsgrund" type="clst:Leistungsereignis"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSEAdresse">
    <xsd:complexContent>
      <xsd:extension base="par:BSAdresse">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="eAdresseTyp" type="cpar:EAdresseTyp"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="primaerAdresse" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="email" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="url" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BSEAdresseModify">
    <xsd:complexContent>
      <xsd:extension base="par:BSPartnerManagerModifyPartnerAdresseInContainer">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="email" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BSEMRTherapeut">
    <xsd:complexContent>
      <xsd:extension base="par:BSLeistungserbringer">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="cssZugelassen" type="xsd:boolean"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="hauptmethode" type="par:BSHauptMethode"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BSESRTeilnehmer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="esrNr" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSEntschaedigungsempfaenger">
    <xsd:complexContent>
      <xsd:extension base="par:BSErweiterung">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="gueltigVon" type="xsd:date"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="gueltigBis" type="xsd:date"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="typ" type="cent:EntschaedigungsEmpfaengerTyp"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BSErweiterung">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:complexType name="BSFamilie">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="name" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="familienNr" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="typ" type="cpar:FamilienTyp"/>
      <xsd:element maxOccurs="unbounded" minOccurs="1" name="familienrolle" type="par:BSFamilienRolle"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSFamilienRolle">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="typ" type="cpar:Familienrolle"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="partnerNr" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSGemeindedaten">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="ort" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="postleitzahl" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="postleitzahlZusatz" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="kanton" type="cpar:Kantonsnummer"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="gemeindeNummer" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="gemeindeBezeichnung" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="hasHMO" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSGesetz">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="gesetz" type="clst:Gesetz"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSGesundheitspraxis">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="zuordnungstyp" type="cpar:GesundheitspraxisZuordnungstyp"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSHauptMethode">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="registrierteMethode" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="codeHauptmethode" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="heilmittelabgabe" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="laboranalyse" type="xsd:boolean"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="untermethode" type="par:BSUnterMethode"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSHolding">
    <xsd:complexContent>
      <xsd:extension base="par:BSErweiterung">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="gemeinsamerUeberschuss" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="andruckBB" type="cvtr:EinschlussBesondereBedingungen"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="BSKonto">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="gueltigVon" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="gueltigBis" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="kontoverbindungsNr" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="waehrung" type="cdinex:Currency"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="bemerkung" type="xsd:string"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="esrTeilnehmer" type="par:BSESRTeilnehmer"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSKorrespondenzPerson">
    <xsd:complexContent>
      <xsd:extension base="par:BSPartnerBeziehung">
        <xsd:sequence/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BSLeistungserbringer">
    <xsd:complexContent>
      <xsd:extension base="par:BSErweiterung">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="gueltigBis" type="xsd:date"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="gueltigVon" type="xsd:date"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="eanNr" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="zsrNr" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="leistungserbringerTyp" type="cpar:BusinessCategory"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="qualitativeDignitaet" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="quantitativeDignitaet" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="zulassung" type="cpar:LeZulassung"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="partnerartObergruppe" type="cpar:LeistungserbringerPartnerartObergruppe"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="partnerartLeistungserbringer"
              type="cpar:LeistungserbringerPartnerart"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="kritischerLeistungserbringer"
              type="cpar:LeistungserbringerKritisch"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="zahlungsart" type="cpar:Zahlungsart"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="zahlungsfrist" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="dummyZsrNr" type="xsd:boolean"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BSLeistungserbringerPrintDataRequest_01">
    <xsd:complexContent>
      <xsd:extension base="par:BSPartnerPrintDataRequestPartnerQuery">
        <xsd:sequence/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BSLeistungserbringerPrintDataRequest_02">
    <xsd:complexContent>
      <xsd:extension base="par:BSPartnerPrintDataRequestPartnerQuery">
        <xsd:sequence/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BSMitarbeiter">
    <xsd:complexContent>
      <xsd:extension base="par:BSErweiterung">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="gueltigBis" type="xsd:date"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="gueltigVon" type="xsd:date"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="pnummer" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="verantwortlichkeit" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="organisation" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="bearbeitenMA" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="aufbereitung" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="mitarbeiterTyp" type="cpar:MitarbeiterTyp"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BSMitarbeiterPrintDataRequest_01">
    <xsd:complexContent>
      <xsd:extension base="par:BSPartnerPrintDataRequestPartnerQuery">
        <xsd:sequence/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BSMitbewerber">
    <xsd:complexContent>
      <xsd:extension base="par:BSErweiterung">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="gueltigBis" type="xsd:date"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="gueltigVon" type="xsd:date"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="svvNummer" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="bsvNummer" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="rechtstraeger" type="cprd:Rechtstraeger"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BSNapCode">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="nap" type="clst:NapCode"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSNationalitaet">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="nationalitaet" type="cpar:Country"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSOeffnungszeiten">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="tag" type="cpar:Wochentag"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="oeffnungszeitVM" type="xsd:dateTime"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="schliesszeitVM" type="xsd:dateTime"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="oeffnungszeitNM" type="xsd:dateTime"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="schliesszeitNM" type="xsd:dateTime"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSOeffnungszeitenPrintDataRequest_01">
    <xsd:complexContent>
      <xsd:extension base="par:BSOrganisationPrintDataRequest">
        <xsd:sequence/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BSOptionalVertriebszuteilung">
    <xsd:complexContent>
      <xsd:extension base="par:BSAbstractVertriebszuteilung">
        <xsd:sequence/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BSOrganisation">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="gueltigBis" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="gueltigVon" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="orgEinheitsNr" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="typ" type="cpar:DivisionType"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="oeffnungszeiten" type="par:BSOeffnungszeiten"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="beschreibung" type="xsd:string"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="adressen" type="par:BSAdresse"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="BSOrganisationPrintDataRequest">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="usage" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="orgEinheitsNr" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="stichdatum" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="blockRequired" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSOrganisationPrintingLogicCreateOrganisationSubDocumentInContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="sprache" type="cpar:Language"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="BSOrganisationPrintDataRequest"
          type="par:BSOrganisationPrintDataRequest"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSOrganisationPrintingLogicCreateOrganisationSubDocumentOutContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="subDocument" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSOrganisationQueryDetermineGdSichtbarkeitInContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="partnerNr" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="pNr" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSOrganisationQueryDetermineGdSichtbarkeitOutContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="gdVisible" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSOrganisationQueryReadOrganisationsEinheitInContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="stichdatum" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="orgEinheitsNr" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSOrganisationQueryReadOrganisationsEinheitOutContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="agentur" type="par:BSOrganisation"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSOrganisationQuerySearchPositionByMitarbeiterInContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="partnerNr" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="pNr" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="typ" type="cpar:PositionType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSOrganisationQuerySearchPositionByMitarbeiterOutContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="mitarbeiter" type="par:BSPosMitarbeiterMitarbeiter"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSOrganisationQuerySearchPositionByTypInContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="orgEinheitsNr" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="typ" type="cpar:PositionType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSOrganisationQuerySearchPositionByTypOutContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="organisation" type="par:BSPosOrganisationTyp"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSOrganisationQuerySearchVertriebszuteilungInContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="partnerNr" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSOrganisationQuerySearchVertriebszuteilungOutContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="zuteilung" type="par:BSVertriebszuteilung"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSOrgeinheitPrintDataRequest_01">
    <xsd:complexContent>
      <xsd:extension base="par:BSOrganisationPrintDataRequest">
        <xsd:sequence/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BSOrgeinheitPrintDataRequest_02">
    <xsd:complexContent>
      <xsd:extension base="par:BSOrganisationPrintDataRequest">
        <xsd:sequence/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BSOrgeinheitPrintDataRequest_03">
    <xsd:complexContent>
      <xsd:extension base="par:BSOrganisationPrintDataRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="label_tech" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="label_gui" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BSPartner">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="anrede" type="cpar:Anrede"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="titel" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="partnerNr" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="vip" type="cpar:VipTyp"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="kontaktSperre" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="korrespondenzSprache" type="cpar:Language"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="name" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="status" type="cpar:PartnerStatus"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="erweiterung" type="par:BSErweiterung"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="partnerArt" type="cpar:KundenStatus"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="hauptAdresse" type="par:BSPostAdresse"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="adresse" type="par:BSAdresse"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="partnerDoubletten" type="par:BSPartnerDoubletten"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="endegrund" type="cpar:Endegrund"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerAddPartnerDiagnoseInContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="partnerNr" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="beginn" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="diagnose" type="clst:CSSDiagnosecode"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerBeziehung">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="bezugsPartnerNr" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="bezugsPartnerRolle" type="cpar:BeziehungsRolle"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="beziehungsPartnerRolle" type="cpar:BeziehungsRolle"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="beziehungstyp" type="cpar:Beziehungstyp"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerBeziehungQuerySearchKorrespondenzPersonInContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="stichdatum" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="partnerNr" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerBeziehungQuerySearchKorrespondenzPersonOutContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="korrespondenzPerson"
          type="par:BSPartnerBeziehung"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerBeziehungQuerySearchPartnerBeziehungExterneReferenzItem">
    <xsd:complexContent>
      <xsd:extension base="par:BSPartnerBeziehungQuerySearchPartnerBeziehungItem">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="externePartnerNr" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="externePartnerNrZusatz" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerBeziehungQuerySearchPartnerBeziehungInContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="vonPartnerNr" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="zuPartnerNr" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="beziehungsTyp" type="cpar:Beziehungstyp"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="beginnDatum" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="endeDatum" type="xsd:date"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerBeziehungQuerySearchPartnerBeziehungItem">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="partnerNr" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="beziehungsRolle" type="cpar:BeziehungsRolle"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="gueltigAb" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="gueltigBis" type="xsd:date"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerBeziehungQuerySearchPartnerBeziehungOutContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="searchPartnerBeziehungItems"
          type="par:BSPartnerBeziehungQuerySearchPartnerBeziehungItem"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerDoubletten">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="partnerNr" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerGruppePrintDataRequest_01">
    <xsd:complexContent>
      <xsd:extension base="par:BSPartnerPrintDataRequestPartnergruppeQuery">
        <xsd:sequence/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerInfo">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="abrechnungsprozess" type="cpar:NoteProzess"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="aktiv" type="xsd:boolean"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="behandlungsart" type="par:BSBehandlungsart"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="behandlungsgrund" type="par:BSBehandlungsgrund"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="beschreibung" type="xsd:string"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="gesetz" type="par:BSGesetz"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="leistungserbringer" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="leiUebernahme" type="xsd:boolean"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="nap" type="par:BSNapCode"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="partnerInfoNr" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="policierungsprozess" type="cpar:NoteProzess"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="produktNr" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="tarif" type="xsd:string"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="tarifposition" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="verwendungszweck" type="cpar:NoteZweck"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerKontaktParameter">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="key" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="value" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerKontaktPrintDataRequest_01">
    <xsd:complexContent>
      <xsd:extension base="par:BSPartnerPrintDataRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="partnerTyp" type="cpar:PartnerTypKontakt"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="dokumentNr" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="ravNr" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="inkassokreisNr" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="sparte" type="cprd:Sparte"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="orgeinheitsNr" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="premiumKunde" type="xsd:boolean"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="partnerKontaktParameter"
              type="par:BSPartnerKontaktParameter"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="partnerNr" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="BSPartnerManagerModifyPartnerAdresseInContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="partnerNr" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="ausloeser" type="chcomp:System"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerManagerModifyPartnerInContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="partnerNr" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="ausloeser" type="chcomp:System"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="partner" type="par:BSPartnerModify"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerManagerModifyPartnerInfoInContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="partnerInfoNr" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="abgeschlossen" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerManagerModifyPartnerInfoLeistungenHKInContainer">
    <xsd:complexContent>
      <xsd:extension base="par:BSPartnerManagerModifyPartnerInfoInContainer">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="abrechnungsprozess" type="cpar:NoteProzess"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerManagerReplicateLeeLeaInContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="anbieter" type="codf:Anbieter"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="versicherungsSparte" type="cprd:Sparte"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="kategorie" type="cvtr:Bbkategorie"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="endeGrund" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="endeDatum" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="beginnDatum" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="titel" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="leistungseinschrNummer" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="text" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="partnerNr" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerMgrModifyPartnerPostAdresseByVerwendung">
    <xsd:complexContent>
      <xsd:extension base="par:BSPartnerManagerModifyPartnerAdresseInContainer">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="postAdresse" type="par:BSPostAdresseModify"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="verwendung" type="cpar:Adressverwendung"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerMitAdressePrintDataRequest_01">
    <xsd:complexContent>
      <xsd:extension base="par:BSPartnerPrintDataRequestPartnerQuery">
        <xsd:sequence/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerMitAdressePrintDataRequest_03">
    <xsd:complexContent>
      <xsd:extension base="par:BSPartnerPrintDataRequestPartnerQuery">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="postAdressRequired" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="labelTech" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="labelGui" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="BSPartnerModify">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="name" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="titel" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="BSPartnerPrintDataRequest">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="usage" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="stichdatum" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="blockRequired" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="BSPartnerPrintDataRequestAdresseQuery">
    <xsd:complexContent>
      <xsd:extension base="par:BSPartnerPrintDataRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="adressNr" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerPrintDataRequestPartnerByZsrNrQuery">
    <xsd:complexContent>
      <xsd:extension base="par:BSPartnerPrintDataRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="zsrNr" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="BSPartnerPrintDataRequestPartnerQuery">
    <xsd:complexContent>
      <xsd:extension base="par:BSPartnerPrintDataRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="partnerNr" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="BSPartnerPrintDataRequestPartnergruppeQuery">
    <xsd:complexContent>
      <xsd:extension base="par:BSPartnerPrintDataRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="partnerGruppeNr" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerPrintingLogicCreatePartnerSubDocumentInContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="sprache" type="cpar:Language"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="BSPartnerPrintDataRequest"
          type="par:BSPartnerPrintDataRequest"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerPrintingLogicCreatePartnerSubDocumentOutContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="subDocument" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerQueryDetermineNationalitaetenInContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="partnerNr" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerQueryDetermineNationalitaetenOutContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="nationalitaeten" type="par:BSNationalitaet"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerQueryInspectPartnerUvgInContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="partnerNr" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerQueryInspectPartnerUvgOutContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="uvgFlag" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerQueryReadEntschaedigungsempfaengerInContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="partnerNr" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerQueryReadEntschaedigungsempfaengerOutContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="entschaedigungsempfaenger" type="par:BSPartner"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerQueryReadHoldingInContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="partnerNr" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="vonDatum" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="bisDatum" type="xsd:date"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerQueryReadHoldingOutContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="holdingPeriode" type="par:BSReadHoldingPeriode"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerQueryReadMitarbeiterInContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="partnerNr" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerQueryReadMitarbeiterOutContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="mitarbeiter" type="par:BSPerson"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerQueryReadMitbewerberInContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="partnerNr" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerQueryReadMitbewerberOutContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="mitbewerber" type="par:BSUnternehmen"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerQueryReadPartnerDiagnoseInContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="partnerNr" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="stichdatum" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="diagnose" type="clst:CSSDiagnosecode"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerQueryReadPartnerDiagnoseOutContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="diagnoseVorhanden" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerQueryReadPartnerInContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="stichdatum" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="partnerNr" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerQueryReadPartnerInfoInContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="partnerNr" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="stichdatum" type="xsd:date"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerQueryReadPartnerInfoOutContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="partnerInfo" type="par:BSPartnerInfo"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerQueryReadPartnerLeistungserbringerInContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="stichdatum" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="partnerNr" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerQueryReadPartnerLeistungserbringerOutContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="leistungserbringer" type="par:BSUnternehmen"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerQueryReadPartnerOutContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="partner" type="par:BSPartner"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerQueryReadRechnungsstellerInContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="partnerNr" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerQueryReadRechnungsstellerOutContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="rechnungssteller" type="par:BSUnternehmen"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerQueryReadSprachregionInContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="gemeindenummer" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerQueryReadSprachregionOutContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="sprachregion" type="cpar:Sprachregion"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="gemeindenummer" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="gemeindename" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerQueryReadTherapeutInContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="stichdatum" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="partnerNr" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerQueryReadTherapeutOutContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="therapeut" type="par:BSUnternehmen"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerQuerySearchCareManagementFallBetreuerInContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="partnerNr" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerQuerySearchCareManagementFallBetreuerOutContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="pNummer" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerQuerySearchEntschaedigungsempfaengerInContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="name" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="vorname" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="strasse" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="hausnr" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="plz" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ort" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="land" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="geburtsdatum" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="stichdatum" type="xsd:date"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerQuerySearchEntschaedigungsempfaengerOutContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="entschaedigungsempfaenger"
          type="par:BSPartner"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="BSPartnerQuerySearchMitbewerberInContainer">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerQuerySearchMitbewerberInContainerByRechtstraeger">
    <xsd:complexContent>
      <xsd:extension base="par:BSPartnerQuerySearchMitbewerberInContainer">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="rechtstraeger" type="cprd:Rechtstraeger"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="stichdatum" type="xsd:date"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerQuerySearchMitbewerberOutContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="mitbewerber" type="par:BSUnternehmen"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerQuerySearchPartnerByFremdPartnerNrInContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="ursprungSystem" type="cpar:Fremdfirma"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="partnerNrUrsprungSystem" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerQuerySearchPartnerByFremdPartnerNrOutContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="bspartnertreffer" type="par:BSPartnertreffer"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerQuerySearchPartnerByTelefonNrInContainer">
    <xsd:complexContent>
      <xsd:extension base="par:BSPartnerQuerySearchPartnerSearchSpec">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="telefonNr" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerQuerySearchPartnerInContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="searchSpec" type="par:BSPartnerQuerySearchPartnerSearchSpec"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerQuerySearchPartnerInfoInContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="partnerNr" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="stichdatum" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="beginnDatum" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="endeDatum" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="abgeschlossen" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerQuerySearchPartnerInfoOutContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="searchpartnerinfoperiode"
          type="par:BSSearchPartnerInfoPeriode"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerQuerySearchPartnerLeistungserbringerInContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="partnerartOberUntergruppe" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="historisch" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="zsrNr" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="eanNr" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="hausnummer" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="strasse" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ort" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="postleitzahl" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="name" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="stichdatum" type="xsd:date"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerQuerySearchPartnerLeistungserbringerOutContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="leistungserbringerperiode"
          type="par:BSSearchPartnerLeistungserbringerPeriode"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerQuerySearchPartnerMitarbeiterInContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="pNummer" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="name" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="vorname" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="stichdatum" type="xsd:date"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerQuerySearchPartnerMitarbeiterOutContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="mitarbeiter" type="par:BSPerson"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerQuerySearchPartnerOutContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="partner" type="par:BSPartner"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerQuerySearchPartnerRechnungsstellerInContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="eanNr" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="stichdatum" type="xsd:date"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerQuerySearchPartnerRechnungsstellerOutContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="partner" type="par:BSPartner"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="BSPartnerQuerySearchPartnerSearchSpec">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerQuerySearchPersonByAhvIn">
    <xsd:complexContent>
      <xsd:extension base="par:BSPartnerQuerySearchPersonInContainer">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="ahvNummer" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="stichdatum" type="xsd:date"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerQuerySearchPersonIn">
    <xsd:complexContent>
      <xsd:extension base="par:BSPartnerQuerySearchPersonInContainer">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="historisch" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="hausnummer" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="strasse" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="ort" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="postleitzahl" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="vorname" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="name" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="jahrgang" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="geburtsdatum" type="xsd:date"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="stichdatum" type="xsd:date"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="BSPartnerQuerySearchPersonInContainer">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerQuerySearchPersonOutContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="searchpersonperiode"
          type="par:BSSearchPersonPeriode"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerQuerySearchQuellensteueramtInContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="kanton" type="cpar:Kantonsnummer"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerQuerySearchQuellensteueramtOutContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="quellensteueramt" type="par:BSUnternehmen"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerQuerySearchRechnungsstellerByLeistungserbringerInContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="partnerNr" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="stichdatum" type="xsd:date"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerQuerySearchRechnungsstellerByLeistungserbringerOutContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="rechnungssteller" type="par:BSUnternehmen"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerQuerySearchUnternehmenByNamePlzOrtInContainer">
    <xsd:complexContent>
      <xsd:extension base="par:BSPartnerQuerySearchUnternehmenInContainer">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="name" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="plz" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="ort" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerQuerySearchUnternehmenIn">
    <xsd:complexContent>
      <xsd:extension base="par:BSPartnerQuerySearchUnternehmenInContainer">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="name" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="strasse" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="hausnummer" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="postleitzahl" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="ort" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="stichdatum" type="xsd:date"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="historisch" type="xsd:boolean"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="BSPartnerQuerySearchUnternehmenInContainer">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerQuerySearchUnternehmenOutContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="partnerNummern" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="letzte" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerQueryValidateKundeInContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="geburtsdatum" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="partnerNr" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerQueryValidateKundeOutContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="status" type="par:Validierungsstatus"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerZsrNrMitAdressePrintDataRequest_01">
    <xsd:complexContent>
      <xsd:extension base="par:BSPartnerPrintDataRequestPartnerByZsrNrQuery">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="postAdressRequired" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="labelTech" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="labelGui" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BSPartnergruppe">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="gesundheitspraxis" type="par:BSGesundheitspraxis"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="gueltigBis" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="gueltigAb" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="gruppentyp" type="cpar:Gruppentyp"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="gruppenname" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="havPruefung" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="partnergruppeNr" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="vertragsbasis" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPartnergruppeQueryInspectPartnerInGruppeInContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="partnerNr" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="gruppenNr" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="gruppenTyp" type="cpar:Gruppentyp"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="gruppeHatGpv" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="beginnDatum" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="endeDatum" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="mitAngestellten" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPartnergruppeQueryInspectPartnerInGruppeOutContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="inGruppe" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPartnergruppeQueryReadPartnergruppeInContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="partnergruppeNr" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="stichdatum" type="xsd:date"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPartnergruppeQueryReadPartnergruppeOutContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="partnergruppe" type="par:BSPartnergruppe"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPartnergruppeQuerySearchFamilieInContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="familienNr" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="beginnDatum" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="endeDatum" type="xsd:date"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPartnergruppeQuerySearchFamilieOutContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="familienPeriode" type="par:BSSearchFamiliePeriode"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPartnergruppeQuerySearchFamilieZuPartnerInContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="partnerNr" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="stichdatum" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="beginnDatum" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="endeDatum" type="xsd:date"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPartnergruppeQuerySearchFamilieZuPartnerOutContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="familienPeriode" type="par:BSSearchFamiliePeriode"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPartnergruppeQuerySearchGruppeneinzugsgebietInContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="gruppenNr" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="stichdatum" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="gemeindeNr" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="anbieter" type="codf:Anbieter"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPartnergruppeQuerySearchGruppeneinzugsgebietOutContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="gueltigeZuordnungen"
          type="par:BSPosGebietsZuordnung"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="schweizweitGueltig" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPartnergruppeQuerySearchPartnergruppeByGemeindeNrInContainer">
    <xsd:complexContent>
      <xsd:extension base="par:BSPartnergruppeQuerySearchPartnergruppeInContainer">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="gemeindeNr" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BSPartnergruppeQuerySearchPartnergruppeByMitgliedPartnerNrInContainer">
    <xsd:complexContent>
      <xsd:extension base="par:BSPartnergruppeQuerySearchPartnergruppeInContainer">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="partnerNr1" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="partnerNr2" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BSPartnergruppeQuerySearchPartnergruppeInContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="gruppenTyp" type="cpar:Gruppentyp"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="stichdatum" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="gruppeHatGpv" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPartnergruppeQuerySearchPartnergruppeOutContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="partnergruppen" type="par:BSPartnergruppe"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPartnertreffer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="ursprungSystem" type="cpar:Fremdfirma"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="partnerNr" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="name" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="postleizahl" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPeriode">
    <xsd:complexContent>
      <xsd:extension base="bofw:BOPeriod">
        <xsd:sequence/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BSPerson">
    <xsd:complexContent>
      <xsd:extension base="par:BSPartner">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="nationalitaet" type="cpar:Country"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="ledigName" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="vorname" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="zivilstand" type="cpar:Zivilstand"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="quellensteuerpflichtig" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="aufenthaltsbewilligung" type="cpar:BewilligungsKategorie"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="ausgeuebterBeruf" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="geburtsdatum" type="xsd:date"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="sterbedatum" type="xsd:date"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="geschlecht" type="cpar:CSSSex"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="sozialversicherungsnummer"
              type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="eingereistAm" type="xsd:date"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="beduerfnissegment" type="cpar:Beduerfnissegment"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BSPersonMitAdressePrintDataRequest_01">
    <xsd:complexContent>
      <xsd:extension base="par:BSPartnerPrintDataRequestPartnerQuery">
        <xsd:sequence/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BSPersonMitAdressePrintDataRequest_02">
    <xsd:complexContent>
      <xsd:extension base="par:BSPartnerPrintDataRequestPartnerQuery">
        <xsd:sequence/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BSPersonMitAdresseUndIdentifikationsnrPrintDataRequest_01">
    <xsd:complexContent>
      <xsd:extension base="par:BSPartnerPrintDataRequestPartnerQuery">
        <xsd:sequence/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BSPersonMitGesetzlicherWohnsitz_01">
    <xsd:complexContent>
      <xsd:extension base="par:BSPartnerPrintDataRequestPartnerQuery">
        <xsd:sequence/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BSPersonMitIdentifikationsnrPrintDataRequest_01">
    <xsd:complexContent>
      <xsd:extension base="par:BSPartnerPrintDataRequestPartnerQuery">
        <xsd:sequence/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BSPersonModify">
    <xsd:complexContent>
      <xsd:extension base="par:BSPartnerModify">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="vorname" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BSPersonPrintDataRequest_01">
    <xsd:complexContent>
      <xsd:extension base="par:BSPartnerPrintDataRequestPartnerQuery">
        <xsd:sequence/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BSPosGebietsZuordnung">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="gemeindeNr" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="gueltigVon" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="gueltigBis" type="xsd:date"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="BSPosMitarbeiter">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="partnerNr" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="pNr" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="name" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="vorname" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="korrespondenzSprache" type="cpar:Language"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPosMitarbeiterMitarbeiter">
    <xsd:complexContent>
      <xsd:extension base="par:BSPosMitarbeiter">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="position" type="par:BSPosPositionMitarbeiter"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BSPosMitarbeiterTyp">
    <xsd:complexContent>
      <xsd:extension base="par:BSPosMitarbeiter">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="primaereStelle" type="xsd:boolean"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="BSPosOrganisation">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="orgEinheitsNr" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPosOrganisationMitarbeiter">
    <xsd:complexContent>
      <xsd:extension base="par:BSPosOrganisation">
        <xsd:sequence/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BSPosOrganisationTyp">
    <xsd:complexContent>
      <xsd:extension base="par:BSPosOrganisation">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="position" type="par:BSPosPositionTyp"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="BSPosPosition">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="funktionsKuerzel" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="funktionsBeschreibung" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="typ" type="cpar:PositionType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPosPositionMitarbeiter">
    <xsd:complexContent>
      <xsd:extension base="par:BSPosPosition">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="organisation" type="par:BSPosOrganisationMitarbeiter"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="primaereStelle" type="xsd:boolean"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BSPosPositionTyp">
    <xsd:complexContent>
      <xsd:extension base="par:BSPosPosition">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="mitarbeiter" type="par:BSPosMitarbeiterTyp"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BSPostAdresse">
    <xsd:complexContent>
      <xsd:extension base="par:BSAdresse">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="gemeindeName" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="verwendung" type="cpar:Adressverwendung"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="land" type="cpar:Country"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="postleitzahl" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="postleitzahlAusland" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="postleitzahlZusatz" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="postleitzahlSchluessel" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="ort" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="ortAusland" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="strasse" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="hausnummer" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="adresszusatz1" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="adresszusatz2" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="adresszusatz3" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="postfach" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="postfachNummer" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="ortsteil" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="co" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="gemeindeNummer" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="kanton" type="cpar:Kantonsnummer"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BSPostAdresseModify">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="strasse" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="hausnummer" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="postfach" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="postfachNummer" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="adresszusatz1" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPostKonto">
    <xsd:complexContent>
      <xsd:extension base="par:BSKonto">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="postKontoNr" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BSQuellensteueramt">
    <xsd:complexContent>
      <xsd:extension base="par:BSErweiterung">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="kanton" type="cpar:Kantonsnummer"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="gueltigBis" type="xsd:date"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="gueltigVon" type="xsd:date"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BSReadHoldingPeriode">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="partner" type="par:BSPartner"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="periode" type="par:BSPeriode"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSRechnungssteller">
    <xsd:complexContent>
      <xsd:extension base="par:BSErweiterung">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="gueltigVon" type="xsd:date"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="gueltigBis" type="xsd:date"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="eanNr" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="zsrNr" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="zahlungsart" type="cpar:Zahlungsart"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="verrechnungstyp" type="cpar:Verrechnungstyp"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="dummyZsrNr" type="xsd:boolean"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BSSearchAdressePeriode">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="adresse" type="par:BSAdresse"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="periode" type="par:BSPeriode"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSSearchFamiliePeriode">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="familie" type="par:BSFamilie"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="periode" type="par:BSPeriode"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSSearchPartnerInfoPeriode">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="partnerInfo" type="par:BSPartnerInfo"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="periode" type="par:BSPeriode"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSSearchPartnerLeistungserbringerPeriode">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="periode" type="par:BSPeriode"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="partner" type="par:BSPartner"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSSearchPersonPeriode">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="periode" type="par:BSPeriode"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="partner" type="par:BSPartner"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSSearchZahlungsverbindungPeriode">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="periode" type="par:BSPeriode"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="zahlungsverbindung" type="par:BSZahlungsverbindung"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSStandortPrintDataRequest_01">
    <xsd:complexContent>
      <xsd:extension base="par:BSPartnerPrintDataRequestPartnerQuery">
        <xsd:sequence/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BSTelefonAdresse">
    <xsd:complexContent>
      <xsd:extension base="par:BSAdresse">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="primaerAdresse" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="landVorwahl" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="telefonnummer" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="telefontyp" type="cpar:Telefontyp"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BSUnterMethode">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="registrierteUntermethode" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="codeUntermethode" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSUnternehmen">
    <xsd:complexContent>
      <xsd:extension base="par:BSPartner">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="aufloeseDatum" type="xsd:date"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="rechtsform" type="cpar:Rechtsform"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="namenszusatz1" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="durchschnittsalterFrauen"
              type="xsd:double"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="durchschnittsalterMaenner"
              type="xsd:double"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="mehrwertsteuernummer" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="anzahlAngestellte" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="anzahlAngestellteMaenner"
              type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="anzahlAngestellteFrauen"
              type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="bilanzStichtag" type="xsd:date"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="kurzname" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="handelsregisterort" type="cpar:Kantonsnummer"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="uidNummer" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="kundenwert" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="gruendungsDatum" type="xsd:date"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="suvaUnterstellt" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="nogaBranchensegment" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="nogaBezeichnung" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="nogaCode" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BSUnternehmenMitAdressePrintDataRequest_01">
    <xsd:complexContent>
      <xsd:extension base="par:BSPartnerPrintDataRequestPartnerQuery">
        <xsd:sequence/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BSUnternehmenModify">
    <xsd:complexContent>
      <xsd:extension base="par:BSPartnerModify">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="namenszusatz1" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BSVertriebszuteilung">
    <xsd:complexContent>
      <xsd:extension base="par:BSAbstractVertriebszuteilung">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="zuteilungOptional"
              type="par:BSOptionalVertriebszuteilung"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BSZahlungsverbindung">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="email" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="versanddokument" type="corm:VersandDokument"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="verwendungszweck" type="cpar:ZahlungsverbindungenVerwendungszweck"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="sparte" type="cprd:Sparte"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="zahlungsverbindungsNr" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="anbieter" type="codf:Anbieter"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="zahlwegBelastung" type="cpar:ZahlwegExtern"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="zahlungsfrequenz" type="cvtr:ZahlungsPeriode"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="zahlungsfrequenzKVG" type="cvtr:ZahlungsPeriode"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="zahlwegVerguetung" type="cpar:ZahlwegExtern"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="datentraeger" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="belastungskontoverbindungsNr"
          type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="verguetungskontoverbindungsNr"
          type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="sammelflag" type="xsd:boolean"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="rollen" type="par:BSZahlungsverbindungsrolle"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSZahlungsverbindungManagerAddZahlungsverbindungStandardInContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="partnerNr" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="verwendungszweck" type="cpar:ZahlungsverbindungenVerwendungszweck"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="anbieter" type="codf:Anbieter"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="sparte" type="cprd:Sparte"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSZahlungsverbindungManagerAddZahlungsverbindungStandardOutContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="zahlungsverbindungPeriode" type="par:BSSearchZahlungsverbindungPeriode"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="vertragrollenTyp" type="cvtr:VertragsrollenTyp"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSZahlungsverbindungQueryReadBankenStammInContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="bankClearingNr" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="filialId" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="land" type="cpar:Country"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSZahlungsverbindungQueryReadBankenStammOutContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="bank" type="par:BSBank"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSZahlungsverbindungQueryReadKontoverbindungInContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="kontoverbindungsNr" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSZahlungsverbindungQueryReadKontoverbindungOutContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="konto" type="par:BSKonto"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSZahlungsverbindungQueryReadZahlungsverbindungInContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="zahlungsverbindungsNr" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="stichdatum" type="xsd:date"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSZahlungsverbindungQueryReadZahlungsverbindungOutContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="zahlungsverbindung" type="par:BSZahlungsverbindung"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSZahlungsverbindungQuerySearchKontoverbindungInContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="partnerNr" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="stichdatum" type="xsd:date"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSZahlungsverbindungQuerySearchKontoverbindungOutContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="konten" type="par:BSKonto"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSZahlungsverbindungQuerySearchZahlungsverbindungInContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="verwendungszweck" type="cpar:ZahlungsverbindungenVerwendungszweck"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="partnerNr" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="anbieter" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="sparte" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="stichdatum" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="beginnDatum" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="endeDatum" type="xsd:date"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSZahlungsverbindungQuerySearchZahlungsverbindungOutContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="zahlungsverbindungperioden"
          type="par:BSSearchZahlungsverbindungPeriode"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSZahlungsverbindungsrolle">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="rolle" type="cpar:ZahlungsverbindungsRollen"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="partnertyp" type="cvtr:VertragsrollenTyp"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="partnerNr" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="beguenstigtenprofil" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="beguenstigterBeschreibung" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="beguenstigterKonto" type="par:BSBeguenstigterKonto"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerIllegalCharacterException">
    <xsd:complexContent>
      <xsd:extension base="bsfw:BSException">
        <xsd:sequence/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerInvalidDataException">
    <xsd:complexContent>
      <xsd:extension base="bsfw:BSException">
        <xsd:sequence/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerNoDataFoundException">
    <xsd:complexContent>
      <xsd:extension base="bsfw:BSException">
        <xsd:sequence/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerObjektNichtMutierbarException">
    <xsd:complexContent>
      <xsd:extension base="bsfw:BSException">
        <xsd:sequence/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerOperationNotAllowedException">
    <xsd:complexContent>
      <xsd:extension base="bsfw:BSException">
        <xsd:sequence/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BSPartnerStrasseOderPostfachMussException">
    <xsd:complexContent>
      <xsd:extension base="bsfw:BSException">
        <xsd:sequence/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="Validierungsstatus">
    <xsd:restriction base="xsd:int">
      <xsd:enumeration value="3">
        <xsd:annotation>
          <xsd:appinfo><jaxb:typesafeEnumMember name="KEIN_KUNDE"/></xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="2">
        <xsd:annotation>
          <xsd:appinfo><jaxb:typesafeEnumMember name="KEIN_KORRESPONDENZ_EMPFAENGER"/></xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="1">
        <xsd:annotation>
          <xsd:appinfo><jaxb:typesafeEnumMember name="KORRESPONDENZ_EMPFAENGER_MIT_KONTO"/></xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="0">
        <xsd:annotation>
          <xsd:appinfo><jaxb:typesafeEnumMember name="KORRESPONDENZ_EMPFAENGER_OHNE_KONTO"/></xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>