xsd/ch_css_bs_runtime_2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- @generated by service_generator. File is not intended to be modified! -->
<xsd:schema
    xmlns:bsfw="http://www.css.ch/bs/runtime/2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://www.css.ch/bs/runtime/2" version="2">
  <xsd:complexType abstract="true" name="BSContainer">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="BSContext">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:complexType name="BSExceptionParameter">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="value" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="key" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSInContainer">
    <xsd:complexContent>
      <xsd:extension base="bsfw:BSContainer">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="workflowProcessId" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="inCtx" type="bsfw:BSInContext"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BSInContext">
    <xsd:complexContent>
      <xsd:extension base="bsfw:BSContext">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="securityToken" type="bsfw:BSSecurityToken"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="traceId" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="mandant" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BSIteratorElement">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:complexType name="BSIteratorIn">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="key" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="batchSize" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSIteratorOut">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="key" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="hasMore" type="xsd:boolean"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="iterElements" type="bsfw:BSIteratorElement"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSMessage">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="language" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="message" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSOutContainer">
    <xsd:complexContent>
      <xsd:extension base="bsfw:BSContainer">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="outCtx" type="bsfw:BSOutContext"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BSOutContext">
    <xsd:complexContent>
      <xsd:extension base="bsfw:BSContext">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="processhints" type="bsfw:BSProcessHint"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="systemId" type="bsfw:BSSystemIdentification"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BSPrincipalChain">
    <xsd:complexContent>
      <xsd:extension base="bsfw:BSSecurityToken">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="1" name="principal" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="signature" type="xsd:hexBinary"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BSProcessHint">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="type" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="messageCode" type="xsd:string"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="messageArgs" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="defaultMessageText" type="xsd:string"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="reference" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="timestamp" type="xsd:dateTime"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="localizedMessages" type="bsfw:BSMessage"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSSearchIn">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="batchSize" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSSearchInContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="batchSize" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="startIndex" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSSearchOut">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="key" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="hasMore" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="size" type="xsd:int"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="iterElements" type="bsfw:BSIteratorElement"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="batchSize" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSSearchOutContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="indexFirst" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="indexLast" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="batchSize" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="next" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="prev" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="size" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSSecurityToken">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:complexType name="BSSystemIdentification">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="area" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="systemId" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="systemNummer" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="locationId" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BSVoidInContainer">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:complexType name="BSVoidOutContainer">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:complexType name="BSException">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="message" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="selfStackTraceAsString" type="xsd:string"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="parameter" type="bsfw:BSExceptionParameter"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="causeStackTraceAsString" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="uid" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="code" type="xsd:int"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="businessMessage" type="bsfw:BSMessage"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="traceId" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>