xsd/ch_css_code_ebiz_5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- @generated by service_generator. File is not intended to be modified! -->
<xsd:schema xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    jaxb:version="1.0" elementFormDefault="qualified" targetNamespace="http://www.css.ch/code/ebiz/5"
    version="5">
  <xsd:simpleType name="PexAssignment">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="0">
        <xsd:annotation>
          <xsd:appinfo><jaxb:typesafeEnumMember name="D_NET">
              <jaxb:javadoc>D-Net &lt;br/>GüeltigkeitMandant: 000 &lt;br/></jaxb:javadoc>
            </jaxb:typesafeEnumMember></xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="1">
        <xsd:annotation>
          <xsd:appinfo><jaxb:typesafeEnumMember name="DV">
              <jaxb:javadoc>DV &lt;br/>GüeltigkeitMandant: 000 &lt;br/></jaxb:javadoc>
            </jaxb:typesafeEnumMember></xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="2">
        <xsd:annotation>
          <xsd:appinfo><jaxb:typesafeEnumMember name="STATISCH">
              <jaxb:javadoc>Statisch &lt;br/>GüeltigkeitMandant: 000 &lt;br/></jaxb:javadoc>
            </jaxb:typesafeEnumMember></xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Portal">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="10">
        <xsd:annotation>
          <xsd:appinfo><jaxb:typesafeEnumMember name="MYCSS">
              <jaxb:javadoc>MyCSS &lt;br/>GüeltigkeitMandant: 000 &lt;br/></jaxb:javadoc>
            </jaxb:typesafeEnumMember></xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="20">
        <xsd:annotation>
          <xsd:appinfo><jaxb:typesafeEnumMember name="MYSANAGATE">
              <jaxb:javadoc>MySanagate &lt;br/>GüeltigkeitMandant: 000 &lt;br/></jaxb:javadoc>
            </jaxb:typesafeEnumMember></xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="30">
        <xsd:annotation>
          <xsd:appinfo><jaxb:typesafeEnumMember name="KEYACCOUNTCSS">
              <jaxb:javadoc>KeyAccountCSS &lt;br/>GüeltigkeitMandant: 000 &lt;br/></jaxb:javadoc>
            </jaxb:typesafeEnumMember></xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="40">
        <xsd:annotation>
          <xsd:appinfo><jaxb:typesafeEnumMember name="EOSCSS">
              <jaxb:javadoc>EOSCSS &lt;br/>GüeltigkeitMandant: 000 &lt;br/></jaxb:javadoc>
            </jaxb:typesafeEnumMember></xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="50">
        <xsd:annotation>
          <xsd:appinfo><jaxb:typesafeEnumMember name="EOSSANAGATE">
              <jaxb:javadoc>EOSSanagate &lt;br/>GüeltigkeitMandant: 000 &lt;br/></jaxb:javadoc>
            </jaxb:typesafeEnumMember></xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="PraemienrechnerStatus">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="0">
        <xsd:annotation>
          <xsd:appinfo><jaxb:typesafeEnumMember name="OFFERTE_ERSTELLT">
              <jaxb:javadoc>Offerte erstellt &lt;br/>GüeltigkeitMandant: 000 &lt;br/></jaxb:javadoc>
            </jaxb:typesafeEnumMember></xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="1">
        <xsd:annotation>
          <xsd:appinfo><jaxb:typesafeEnumMember name="POSTVERSAND_BEANTRAGT">
              <jaxb:javadoc>Postversand beantragt &lt;br/>GüeltigkeitMandant: 000 &lt;br/></jaxb:javadoc>
            </jaxb:typesafeEnumMember></xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="2">
        <xsd:annotation>
          <xsd:appinfo><jaxb:typesafeEnumMember name="ZWISCHENSTAND_GESPEICHERT">
              <jaxb:javadoc>Zwischenstand gespeichert &lt;br/>GüeltigkeitMandant: 000 &lt;br/></jaxb:javadoc>
            </jaxb:typesafeEnumMember></xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="3">
        <xsd:annotation>
          <xsd:appinfo><jaxb:typesafeEnumMember name="ONLINE_ABGESCHLOSSEN">
              <jaxb:javadoc>Online abgeschlossen &lt;br/>GüeltigkeitMandant: 000 &lt;br/></jaxb:javadoc>
            </jaxb:typesafeEnumMember></xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="VerkaufsphaseEOS">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="03">
        <xsd:annotation>
          <xsd:appinfo><jaxb:typesafeEnumMember name="IN_OFFERTSTELLUNG">
              <jaxb:javadoc>in Offertstellung &lt;br/>GüeltigkeitMandant: 000 &lt;br/></jaxb:javadoc>
            </jaxb:typesafeEnumMember></xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="06">
        <xsd:annotation>
          <xsd:appinfo><jaxb:typesafeEnumMember name="ABGESCHLOSSEN_ERFOLG">
              <jaxb:javadoc>abgeschlossen (Erfolg) &lt;br/>GüeltigkeitMandant: 000 &lt;br/></jaxb:javadoc>
            </jaxb:typesafeEnumMember></xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="07">
        <xsd:annotation>
          <xsd:appinfo><jaxb:typesafeEnumMember name="ABGESCHLOSSEN_MISSERFOLG">
              <jaxb:javadoc>abgeschlossen (Misserfolg) &lt;br/>GüeltigkeitMandant: 000 &lt;br/></jaxb:javadoc>
            </jaxb:typesafeEnumMember></xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>