xsd/ch_css_code_inexkasso_5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- @generated by service_generator. File is not intended to be modified! -->
<xsd:schema
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://www.css.ch/code/inexkasso/5" version="5">
  <xsd:simpleType name="Ausgleichsgrund">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="00"/>
      <xsd:enumeration value="01"/>
      <xsd:enumeration value="02"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Ausgleichsstatus">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="0"/>
      <xsd:enumeration value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Buchungsseite">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="H"/>
      <xsd:enumeration value="S"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Currency">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="CHF"/>
      <xsd:enumeration value="EUR"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Herkunftsart">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="LE"/>
      <xsd:enumeration value="PR"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Mahnstufe">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="01"/>
      <xsd:enumeration value="02"/>
      <xsd:enumeration value="03"/>
      <xsd:enumeration value="05"/>
      <xsd:enumeration value="04"/>
      <xsd:enumeration value="06"/>
      <xsd:enumeration value="07"/>
      <xsd:enumeration value="08"/>
      <xsd:enumeration value="09"/>
      <xsd:enumeration value="10"/>
      <xsd:enumeration value="11"/>
      <xsd:enumeration value="12"/>
      <xsd:enumeration value="13"/>
      <xsd:enumeration value="14"/>
      <xsd:enumeration value="15"/>
      <xsd:enumeration value="16"/>
      <xsd:enumeration value="17"/>
      <xsd:enumeration value="18"/>
      <xsd:enumeration value="20"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>