xsd/ch_css_bo_common_2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- @generated by service_generator. File is not intended to be modified! -->
<xsd:schema
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://www.css.ch/bo/common/2" version="2">
  <xsd:complexType name="BOLocalDate">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="year" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="month" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="day" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="timezoneInfo" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BOPeriod">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="validFrom" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="validTo" type="xsd:date"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>