xsd/ch_css_code_fibu_12.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- @generated by service_generator. File is not intended to be modified! -->
<xsd:schema xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    jaxb:version="1.0" elementFormDefault="qualified" targetNamespace="http://www.css.ch/code/fibu/12"
    version="12">
  <xsd:simpleType name="Anbieter">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="01">
        <xsd:annotation>
          <xsd:appinfo><jaxb:typesafeEnumMember name="CSS">
              <jaxb:javadoc>CSS</jaxb:javadoc>
            </jaxb:typesafeEnumMember></xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="03">
        <xsd:annotation>
          <xsd:appinfo><jaxb:typesafeEnumMember name="ARCOSANA">
              <jaxb:javadoc>Arcosana</jaxb:javadoc>
            </jaxb:typesafeEnumMember></xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="04">
        <xsd:annotation>
          <xsd:appinfo><jaxb:typesafeEnumMember name="AUXILIA">
              <jaxb:javadoc>Auxilia</jaxb:javadoc>
            </jaxb:typesafeEnumMember></xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="40">
        <xsd:annotation>
          <xsd:appinfo><jaxb:typesafeEnumMember name="INTRAS">
              <jaxb:javadoc>Intras</jaxb:javadoc>
            </jaxb:typesafeEnumMember></xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="99">
        <xsd:annotation>
          <xsd:appinfo><jaxb:typesafeEnumMember name="ZURICH_CONNECT">
              <jaxb:javadoc>Zurich Connect</jaxb:javadoc>
            </jaxb:typesafeEnumMember></xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="02">
        <xsd:annotation>
          <xsd:appinfo><jaxb:typesafeEnumMember name="SANAGATE">
              <jaxb:javadoc>Sanagate</jaxb:javadoc>
            </jaxb:typesafeEnumMember></xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="98">
        <xsd:annotation>
          <xsd:appinfo><jaxb:typesafeEnumMember name="ZURICH_LEBEN">
              <jaxb:javadoc>Zurich Leben</jaxb:javadoc>
            </jaxb:typesafeEnumMember></xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ERechnungProvider">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="10">
        <xsd:annotation>
          <xsd:appinfo><jaxb:typesafeEnumMember name="SIX">
              <jaxb:javadoc>SIX &lt;br/>GüeltigkeitMandant: 000 &lt;br/></jaxb:javadoc>
            </jaxb:typesafeEnumMember></xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="20">
        <xsd:annotation>
          <xsd:appinfo><jaxb:typesafeEnumMember name="POST">
              <jaxb:javadoc>Post &lt;br/>GüeltigkeitMandant: 000 &lt;br/></jaxb:javadoc>
            </jaxb:typesafeEnumMember></xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Mandant">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="001">
        <xsd:annotation>
          <xsd:appinfo><jaxb:typesafeEnumMember name="MANDANT1">
              <jaxb:javadoc>Mandant1 umfasst Stand 2009 CSS, Arcosana, Auxilia, Intras</jaxb:javadoc>
            </jaxb:typesafeEnumMember></xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="002">
        <xsd:annotation>
          <xsd:appinfo><jaxb:typesafeEnumMember name="MANDANT2">
              <jaxb:javadoc>Mandant2 umfasst Stand 2009 Infinity</jaxb:javadoc>
            </jaxb:typesafeEnumMember></xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="000">
        <xsd:annotation>
          <xsd:appinfo><jaxb:typesafeEnumMember name="MANDANTUEBERGREIFEND">
              <jaxb:javadoc>Mandantenuebergreifend, d.h. sowohl MANDANT1 als auch MANDANT2</jaxb:javadoc>
            </jaxb:typesafeEnumMember></xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>