xsd/ch_css_code_hilfskomponenten_9.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- @generated by service_generator. File is not intended to be modified! -->
<xsd:schema
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://www.css.ch/code/hilfskomponenten/9" version="9">
  <xsd:simpleType name="BatchLaufart">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="P"/>
      <xsd:enumeration value="S"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="BezVerwendung">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="bemerkung"/>
      <xsd:enumeration value="bezeichnung"/>
      <xsd:enumeration value="bezeichnung_java"/>
      <xsd:enumeration value="printing"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Boolean">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="0"/>
      <xsd:enumeration value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CodeStatus">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="cssAbgenommen"/>
      <xsd:enumeration value="cssBeantragt"/>
      <xsd:enumeration value="cssUngueltig"/>
      <xsd:enumeration value="deprecated"/>
      <xsd:enumeration value="inAbklärung"/>
      <xsd:enumeration value="lokalAbgenommen"/>
      <xsd:enumeration value="lokalBeantragt"/>
      <xsd:enumeration value="lokalUngueltig"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Fachkomponente">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ARM"/>
      <xsd:enumeration value="CONTROLLING"/>
      <xsd:enumeration value="DMS"/>
      <xsd:enumeration value="DRUCK"/>
      <xsd:enumeration value="ENTSCHAEDIGUNG"/>
      <xsd:enumeration value="FIBU"/>
      <xsd:enumeration value="HILFSKOMPONENTEN"/>
      <xsd:enumeration value="HR"/>
      <xsd:enumeration value="INEXKASSO"/>
      <xsd:enumeration value="LEISTUNG"/>
      <xsd:enumeration value="ORM"/>
      <xsd:enumeration value="PARTNER"/>
      <xsd:enumeration value="PRODUKT"/>
      <xsd:enumeration value="SCANNING"/>
      <xsd:enumeration value="VERTRAG"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="JaNein">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="0"/>
      <xsd:enumeration value="1"/>
      <xsd:enumeration value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="System">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ebusiness"/>
      <xsd:enumeration value="arcosana"/>
      <xsd:enumeration value="auxilia"/>
      <xsd:enumeration value="avis"/>
      <xsd:enumeration value="bea"/>
      <xsd:enumeration value="cornationen"/>
      <xsd:enumeration value="ddegateway"/>
      <xsd:enumeration value="dms"/>
      <xsd:enumeration value="domain"/>
      <xsd:enumeration value="dwh"/>
      <xsd:enumeration value="entschaedigung"/>
      <xsd:enumeration value="fibu"/>
      <xsd:enumeration value="hr"/>
      <xsd:enumeration value="inexkasso"/>
      <xsd:enumeration value="is"/>
      <xsd:enumeration value="ldap"/>
      <xsd:enumeration value="notes"/>
      <xsd:enumeration value="parameter"/>
      <xsd:enumeration value="pfis"/>
      <xsd:enumeration value="pk"/>
      <xsd:enumeration value="printing"/>
      <xsd:enumeration value="prodcalc"/>
      <xsd:enumeration value="produkt"/>
      <xsd:enumeration value="riskcalc"/>
      <xsd:enumeration value="ruleengine"/>
      <xsd:enumeration value="scancenter"/>
      <xsd:enumeration value="shark1"/>
      <xsd:enumeration value="shark2"/>
      <xsd:enumeration value="syrius"/>
      <xsd:enumeration value="tcrm"/>
      <xsd:enumeration value="uvg"/>
      <xsd:enumeration value="vertrag"/>
      <xsd:enumeration value="wordserver"/>
      <xsd:enumeration value="workflow"/>
      <xsd:enumeration value="kolumbus"/>
      <xsd:enumeration value="dmdoc"/>
      <xsd:enumeration value="resin"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>