xsd/ch_css_eb_identity_management_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- @generated by service_generator. File is not intended to be modified! --><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cebiz="http://www.css.ch/code/ebiz/5" xmlns:eb_identity_management="http://www.css.ch/eb_identity_management/1" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="1.0" elementFormDefault="qualified" targetNamespace="http://www.css.ch/eb_identity_management/1" version="1">
  <xsd:import namespace="http://www.css.ch/code/ebiz/5" schemaLocation="ch_css_code_ebiz_5.xsd"/>
  <xsd:complexType name="Customer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="email" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PingOut">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="message" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="eBIdentityManagementLogicSubmitIdentificationLetterRequestIn">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="lang" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="portal" type="cebiz:Portal"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="eBIdentityManagementLogicSubmitIdentificationLetterRequestOut">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:complexType name="eBIdentityManagementLogicSubmitIdentificationLetterRequestSelfIn">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="partnerNummer" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="portal" type="cebiz:Portal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="lang" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="eBIdentityManagementLogicSubmitIdentificationLetterRequestSelfOut">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:complexType name="eBIdentityManagementLogicSubmitPasswortResetIn">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="email" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="lang" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="portal" type="cebiz:Portal"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="eBIdentityManagementLogicSubmitPasswortResetOut">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:complexType name="eBIdentityManagementLogicSubmitRegistrierungIn">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="lang" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="passwort" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="partnernummer" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="dateOfBirth" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="email" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="agb" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="easyReset" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="portal" type="cebiz:Portal"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="eBIdentityManagementLogicSubmitRegistrierungOut">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:complexType name="eBIdentityManagementLogicSubmitSmsIn">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="phone" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="message" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="eBIdentityManagementLogicSubmitSmsOut">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:complexType name="eBIdentityManagementLogicSubmitTelefonRegistrierungFirstStepIn">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="lang" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="mobilePhone" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="eBIdentityManagementLogicSubmitTelefonRegistrierungFirstStepOut">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:complexType name="eBIdentityManagementLogicSubmitTelefonRegistrierungSecondStepIn">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="iak" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="mobile" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="otp" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="eBIdentityManagementLogicSubmitTelefonRegistrierungSecondStepOut">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:complexType name="eBIdentityManagementLogicSubmitVerifyRegistrierungIn">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="email" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="code" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="lang" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="portal" type="cebiz:Portal"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="eBIdentityManagementLogicSubmitVerifyRegistrierungOut">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:complexType name="eBIdentityManagementManagerModifyPasswortIn">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="currentPasswort" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="newPasswort" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="eBIdentityManagementManagerModifyPasswortOut">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:complexType name="eBIdentityManagementManagerModifyProfilIn">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="newEmail" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="lang" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="portal" type="cebiz:Portal"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="eBIdentityManagementManagerModifyProfilOut">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:complexType name="eBIdentityManagementManagerUpdatePasswortResetIn">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="code" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="email" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="newPasswort" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="eBIdentityManagementManagerUpdatePasswortResetOut">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:complexType name="eBIdentityManagementQueryReadIdentificationLetterIssueDateIn">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:complexType name="eBIdentityManagementQueryReadIdentificationLetterIssueDateOut">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="issueDate" type="xsd:date"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="eBIdentityManagementQueryReadMtanStatusIn">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:complexType name="eBIdentityManagementQueryReadMtanStatusOut">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="status" type="eb_identity_management:MtanStatus"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="eBIdentityManagementQueryReadProfilIn">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:complexType name="eBIdentityManagementQueryReadProfilOut">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="customer" type="eb_identity_management:Customer"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="eBidentityManagementLogicSubmitIdentificationLetterRequestInAdvanceIn">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="1" name="partnernummer" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="magicToken" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="portal" type="cebiz:Portal"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="eBidentityManagementLogicSubmitIdentificationLetterRequestInAdvanceOut">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:complexType name="eBidentityManagementLogicGenerateActivationCodeIn">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="partnernummer" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="magicToken" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="eBidentityManagementLogicGenerateActivationCodeOut">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="code" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EBAuthenticationException">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:complexType name="EBDataValidationException">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:complexType name="EBEmailAlreadyPresentException">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:complexType name="EBEmailVerificationNotPossibleException">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:complexType name="EBIakTooRecentlyIssuedException">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:complexType name="EBIdentificationLetterRequestInAdvanceException">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:complexType name="EBGenerateActivationCodeException">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:complexType name="EBNoPendingIakException">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:complexType name="EBNoValidIakException">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:complexType name="EBOtpFailedException">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:complexType name="EBPartnerAlreadySignedUpException">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:complexType name="EBPartnerNotFoundException">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:complexType name="EBPasswordResetTokenExpiredException">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:complexType name="EBUserNameAlreadyPresentException">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:simpleType name="MtanStatus">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ACCOUNT_MTAN_ENABLED"/>
      <xsd:enumeration value="ACCOUNT_MTAN_NOT_REGISTERED"/>
      <xsd:enumeration value="ACCOUNT_MTAN_IAK_REGISTERED"/>
      <xsd:enumeration value="ACCOUNT_MTAN_IAK_PREREGISTERED"/>
      <xsd:enumeration value="ACCOUNT_MTAN_AND_IAK"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>