xsd/ch_css_eb_es_renderer_7.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- @generated by service_generator. File is not intended to be modified! -->
<xsd:schema xmlns:cebiz="http://www.css.ch/code/ebiz/5" xmlns:codf="http://www.css.ch/code/fibu/12"
    xmlns:cpar="http://www.css.ch/code/partner/30" xmlns:cprd="http://www.css.ch/code/produkt/30"
    xmlns:ebre="http://www.css.ch/eb_es_renderer/7" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" jaxb:version="1.0" elementFormDefault="qualified" targetNamespace="http://www.css.ch/eb_es_renderer/7"
    version="7">
  <xsd:import namespace="http://www.css.ch/code/ebiz/5" schemaLocation="ch_css_code_ebiz_5.xsd"/>
  <xsd:import namespace="http://www.css.ch/code/fibu/12" schemaLocation="ch_css_code_fibu_12.xsd"/>
  <xsd:import namespace="http://www.css.ch/code/partner/30" schemaLocation="ch_css_code_partner_30.xsd"/>
  <xsd:import namespace="http://www.css.ch/code/produkt/30" schemaLocation="ch_css_code_produkt_30.xsd"/>
  <xsd:complexType abstract="true" name="Abrechnung">
    <xsd:complexContent>
      <xsd:extension base="ebre:Dokument">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="faellig" type="xsd:date"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="rechnungsNr" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="betrag" type="xsd:decimal"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="anbieter" type="codf:Anbieter"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="sparte" type="cprd:Sparte"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="druckDokumentNummer" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="AbrechnungSearchParam">
    <xsd:complexContent>
      <xsd:extension base="ebre:DokumentSearchParam">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="rechnungsNr" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="faelligVon" type="xsd:date"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="faelligBis" type="xsd:date"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="betragVon" type="xsd:decimal"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="betragBis" type="xsd:decimal"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="anbieter" type="codf:Anbieter"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="sparte" type="cprd:Sparte"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Absender">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="anbieter1" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="anbieter2" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="adresszusatz1" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="adresszusatz2" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="postleitzahl" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ort" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="telefonnummer" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="faxnummer" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="email" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="url" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AntwortArzt">
    <xsd:complexContent>
      <xsd:extension base="ebre:AntwortDetail">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="name" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="imAusland" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="zehnJahreNichtBesucht" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="verstorben" type="xsd:boolean"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AntwortAuswahl">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="antwort" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="ausgewaehlt" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AntwortDetail">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:complexType name="AntwortDetailSchluesselWert">
    <xsd:complexContent>
      <xsd:extension base="ebre:AntwortDetail">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="schluessel" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="wert" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AntwortDetailZeile">
    <xsd:complexContent>
      <xsd:extension base="ebre:AntwortDetail">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="diagnose" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="behandlungVonBis" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="behandlungArt" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="ausgeheilt" type="xsd:boolean"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AntwortVonBis">
    <xsd:complexContent>
      <xsd:extension base="ebre:AntwortDetail">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="von" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="bis" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Arzt">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="vorname" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="name" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="strasse" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="postleitzahl" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ort" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="kanton" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="kantonsnummer" type="cpar:Kantonsnummer"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="patientenaufnahme" type="ebre:Patientenaufnahme"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="zsrnr" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="santenr" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="arztTyp" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="partnerArt" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="partnerArtBeschreibung" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="netzwerk" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="gruppenpraxis" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="arztwahl" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="quelle" type="ebre:ArztQuelle"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="telefonnummer" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Auswertung">
    <xsd:complexContent>
      <xsd:extension base="ebre:Dokument">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="vertragNr" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="dateiname" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="titel" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="auswertungszeitraumVon" type="xsd:date"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="auswertungszeitraumBis" type="xsd:date"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="dokumentNummer" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AuswertungSearchParam">
    <xsd:complexContent>
      <xsd:extension base="ebre:DokumentSearchParam">
        <xsd:sequence/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BasisElementarProdukt">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="bezeichnung" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="betrag" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BasisPerson">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="anrede" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="geschlecht" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="partnerNrFmt" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="geburtsdatum" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="telefonnummer" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="email" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="strasseMitStrassenNr" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="postleitzahl" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ort" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="partnerNr" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="vorname" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="name" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="produkte" type="ebre:Produkte"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BasisProdukt">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="grundVersicherungSumme" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="kanton" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="vetragsGrundlagen" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="bruttoPraemie" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="versicherungsSumme" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="bezeichnung" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="betrag" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="jugendRabatt" type="ebre:Rabatt"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="kundenRabatt" type="ebre:Rabatt"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="vertragsdauerRabatt" type="ebre:Rabatt"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="zusatzVersicherung" type="ebre:ZusatzVersicherung"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="grundVersicherung" type="ebre:GrundVersicherung"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="basisProdukt" type="ebre:BasisProdukt"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="stempelgebuehrRabatt" type="ebre:Rabatt"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="Dokument">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="erstellt" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="dateiTyp" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DokumentSearchParam">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="partnerNr" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Download">
    <xsd:complexContent>
      <xsd:extension base="ebre:Dokument">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="dateiname" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="titel" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="beschreibung" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="dokumentNummer" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DownloadSearchParam">
    <xsd:complexContent>
      <xsd:extension base="ebre:DokumentSearchParam">
        <xsd:sequence/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DruckauftragAerztelisteIn">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="anbieter" type="codf:Anbieter"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="language" type="cpar:Language"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="arzt" type="ebre:Arzt"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="listType" type="ebre:DoctorsListType"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="isKube" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DruckauftragAerztelisteOut">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="pdfContent" type="xsd:hexBinary"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DruckauftragAktivierungsCodeIn">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="partnerNrEmpfaenger" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="portal" type="cebiz:Portal"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="sprache" type="cpar:Language"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="aktivierungsCode" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="anbieter" type="codf:Anbieter"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="registrationType" type="ebre:RegistrationsTyp"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DruckauftragAktivierungsCodeOut">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:complexType name="DruckauftragAntragIn">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="antragTyp" type="ebre:AntragTyp"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="language" type="cpar:Language"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="inklBegleitBrief" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="inklPexBrief" type="xsd:boolean"/>
      <xsd:element maxOccurs="unbounded" minOccurs="1" name="person" type="ebre:Person"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="absender" type="ebre:Absender"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="pexpartner" type="ebre:PexPartner"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="quelle" type="ebre:AntragsQuelle"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="antragId" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ersteller" type="ebre:Ersteller"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="preview" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DruckauftragAntragOut">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="pdfContent" type="xsd:hexBinary"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DruckauftragFRVReisedokumentationIn">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="anbieter" type="codf:Anbieter"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="language" type="cpar:Language"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="versichertePerson" type="ebre:VersichertePersonFRV"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="frvDetail" type="ebre:FRVDetail"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="versichertePerson2" type="ebre:VersichertePersonFRV"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="paketStandard" type="ebre:FRVPraemie"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="paketMidi" type="ebre:FRVPraemie"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="paketMiniNku" type="ebre:FRVPraemie"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="paketMiniPa" type="ebre:FRVPraemie"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="paketGepaeck" type="ebre:FRVPraemieOption"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="paketUti" type="ebre:FRVPraemie"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="paketAnnulierungskosten" type="ebre:FRVPraemieOption"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DruckauftragFRVReisedokumentationOut">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="pdfContent" type="xsd:hexBinary"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DruckauftragOfferteIn">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="language" type="cpar:Language"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="druckdokumentNr" type="xsd:string"/>
      <xsd:element maxOccurs="unbounded" minOccurs="1" name="person" type="ebre:Person"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="absender" type="ebre:Absender"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="offertenId" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="pexpartner" type="ebre:PexPartner"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="totalKvg" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="totalVvg" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="totalAllePersonen" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DruckauftragOfferteOut">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="pdfContent" type="xsd:hexBinary"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DruckauftragSHVAntragIn">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="language" type="cpar:Language"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="anbieter" type="codf:Anbieter"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="antragId" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="absender" type="ebre:SHVAbsender"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="person" type="ebre:BasisPerson"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DruckauftragSHVAntragOut">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="pdfContent" type="xsd:hexBinary"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DruckauftragWechselFranchiseIn">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="anbieter" type="codf:Anbieter"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="language" type="cpar:Language"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="bemerkung" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="franchisepraemie" type="ebre:FranchisePraemie"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="versicherteperson" type="ebre:VersichertePerson"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DruckauftragWechselFranchiseOut">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="pdfContent" type="xsd:hexBinary"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DruckauftragWechselVersicherungsmodellIn">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="anbieter" type="codf:Anbieter"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="language" type="cpar:Language"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="neuesModell" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="wechselNeujahr" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="wechselAnfangMonat" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="wechselDatum" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="arztPraxis" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="bemerkung" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="versicherteperson" type="ebre:VersichertePerson"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="franchisepraemie" type="ebre:FranchisePraemie"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DruckauftragWechselVersicherungsmodellOut">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="pdfContent" type="xsd:hexBinary"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EBCommonQueryReadAdresseMitBeschaeftigungsverhaeltnisIn">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="partnerNr" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EBCommonQueryReadAdresseMitBeschaeftigungsverhaeltnisOut">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="email" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="nummer" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="organisationseinheit" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ort" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="partnerNr" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="plz" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="strasse" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="telefax" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="telefon" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EBCommonQueryReadDokumentIn">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="druckdokumentNr" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="dokumentNummer" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="partnerNrUnternehmen" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EBCommonQueryReadDokumentOut">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="keyAccountsUnternehmen" type="ebre:KeyAccountsUnternehmen"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="content" type="xsd:hexBinary"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="dateiName" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EBCommonQueryReadDokumentPrivatIn">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="onlineAntragNr" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="druckdokumentNr" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EBCommonQueryReadDokumentPrivatOut">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="content" type="xsd:hexBinary"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="dateiName" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="partnerNr" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EBCommonQueryReadVerwalteteUnternehmenIn">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="partnerNr" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EBCommonQueryReadVerwalteteUnternehmenOut">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="unternehmen" type="ebre:Unternehmen"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EBCommonQuerySearchDokumenteIn">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="partnerNrUnternehmen" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="pagingParams" type="ebre:PagingParams"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="dokumentSearchParam" type="ebre:DokumentSearchParam"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EBCommonQuerySearchDokumenteOut">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="pagingInfo" type="ebre:PagingInfo"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="keyAccountsUnternehmen" type="ebre:KeyAccountsUnternehmen"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="dokumente" type="ebre:Dokument"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ElementarProdukt">
    <xsd:complexContent>
      <xsd:extension base="ebre:BasisElementarProdukt">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="istVersichert" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="zusatzInfo" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Ersteller">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="textSchluessel" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="zusatzWert" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FRVDetail">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="policenNummer" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="deckung" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="dauer" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="startdatum" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="gesamtpraemie" type="xsd:float"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="isShortTerm" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="isPaymentOrder" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FRVPraemie">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="nettopraemie" type="xsd:float"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="rabatt" type="xsd:float"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="stempelsteuer" type="xsd:float"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FRVPraemieOption">
    <xsd:complexContent>
      <xsd:extension base="ebre:FRVPraemie">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="option" type="xsd:int"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FranchisePraemie">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="franchise" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="krankheitUnfall" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="krankheit" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="praemie" type="xsd:double"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="praemienjahr" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FranchiseVariante">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="totalTarif" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="kvgTarif" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="franchise" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GebaeudeProdukt">
    <xsd:complexContent>
      <xsd:extension base="ebre:BasisProdukt">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="flachdachVorhanden" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="bodenheizungVorhanden" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="hydrantVorhanden" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="haustyp" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="bauart" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Gesundheitsfrage">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="fragenId" type="xsd:string"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="antwortdetail" type="ebre:AntwortDetail"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="antwortAuswahl" type="ebre:AntwortAuswahl"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetVersionOut">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="message" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GrundVersicherung">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="selbstbehalt" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="feuer" type="ebre:ElementarProdukt"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="elementar" type="ebre:ElementarProdukt"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="wasser" type="ebre:ElementarProdukt"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="diebstahl" type="ebre:ElementarProdukt"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="privathaftplichtEinzel" type="ebre:ElementarProdukt"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HausratProdukt">
    <xsd:complexContent>
      <xsd:extension base="ebre:BasisProdukt">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="berechnungsBasis" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="anzahlPersonen" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="anzahlZimmer" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="einrichtungsStandard" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="wohnflaeche" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="haustyp" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="KeyAccount">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="partnerNr" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="KeyAccountsUnternehmen">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="partnerNrUnternehmen" type="xsd:string"/>
      <xsd:element maxOccurs="unbounded" minOccurs="1" name="keyAccounts" type="ebre:KeyAccount"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Kontakt">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="personNr" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="vorname" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="name" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="telefonNummer" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="email" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Leistungsabrechnung">
    <xsd:complexContent>
      <xsd:extension base="ebre:Abrechnung">
        <xsd:sequence/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="LeistungsabrechnungSearchParam">
    <xsd:complexContent>
      <xsd:extension base="ebre:AbrechnungSearchParam">
        <xsd:sequence/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PagingInfo">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="size" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PagingParams">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="from" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="pageSize" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Person">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="anbieter" type="codf:Anbieter"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="druckdokumentNr" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="anrede" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="name" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="vorname" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="strasse" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="adresszusatz1" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="adresszusatz2" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="adresszusatz3" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="ort" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="sprache" type="cpar:Language"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="geschlecht" type="cpar:CSSSex"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="geburtsDatum" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="email" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="telefonnummer" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="havArztName" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="telefonGeschaeft" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="telefonMobil" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="zivilstand" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="beruf" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="austrittsgrund" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="austrittsDatum" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="eintrittsgrund" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="eintrittsdatum" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="kundennummer" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="zone" type="ebre:Zone"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="nationalitaet" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="aufenthaltsbewilligung" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="eingereistAm" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="vorversicherer" type="ebre:Vorversicherer"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="korrespondentAnrede" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="korrespondentName" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="korrespondentVorname" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="korrespondentStrasse" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="korrespondentAdresszusatz1" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="korrespondentAdresszusatz2" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="korrespondentPostleitzahl" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="korrespondentOrt" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="praemienzahlerName" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="praemienzahlerVorname" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="praemienzahlerIstPost" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="praemienzahlerPostkonto" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="praemienzahlerIstLsv" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="praemienzahlerBankadresse" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="praemienzahlerIstEsr" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="praemienzahlerZahlungsfrequenz"
          type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="praemienzahlerBankkonto" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="praemienzahlerIban" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="leistungsempfaengerName" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="leistungsempfaengerVorname" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="leistungsempfaengerIstPost" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="leistungsempfaengerPostkonto"
          type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="leistungsempfaengerBankadresse"
          type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="leistungsempfaengerIstBankkonto"
          type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="leistungsempfaengerIban" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="leistungsempfaengerIstZA" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="leistungsempfaengerZAName" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="leistungsempfaengerZAVorname"
          type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="leistungsempfaengerZAAdresse"
          type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="leistungsempfaengerZAPostleitzahl"
          type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="leistungsempfaengerZAOrt" type="xsd:string"/>
      <xsd:element maxOccurs="unbounded" minOccurs="1" name="produkt" type="ebre:Produkt"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="gesundheitsfragen" type="ebre:Gesundheitsfrage"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="franchisevariante" type="ebre:FranchiseVariante"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="gdTyp" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="praemienTotal" type="ebre:PraemienTotal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="bpDrucken" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="bpTagesdatum" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="bpVerkaufsberaterPnr" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="bpVerkaufsberaterVorname" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="bpVerkaufsberaterName" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="bpVerkaufsberaterFunktionsbezeichnung"
          type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="bpVerkaufsberaterTelefonnr" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="bpVerkaufsberaterFaxnr" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="bpVerkaufsberaterEmail" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="bpKundeKundennummer" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="bpKundeVorname" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="bpKundeName" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="bpKundeGeburtsdatum" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="bpKundeTelefonnrPrivat" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="bpKundeTelefonnrGeschaeft" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="bpKundeEmail" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="erRechnungPerErechnung" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="erEbillAccountId" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PexPartner">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="isStaticPexAgency" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="pexPartnerName" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="anrede" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="adresszusatz1" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="adresszusatz2" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="postleitzahl" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="freitext" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ort" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="gruss" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="rahmenvertrag" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="maximalerRabatt" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="statischePexAgenturUnternehmen"
          type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="statischePexAgenturName" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="statischePexAgenturAdresse" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="statischePexAgenturPlz" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="statischePexAgenturOrt" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="statischePexAgenturTelefon" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="statischePexAgenturFax" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="statischePexAgenturEmail" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="statischePexAgenturWebsite" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PingBackendServicesOut">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="services" type="ebre:Service"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PingOut">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="message" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Police">
    <xsd:complexContent>
      <xsd:extension base="ebre:Dokument">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="policeNr" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="policenVersion" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="beginn" type="xsd:date"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="ende" type="xsd:date"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="anbieter" type="codf:Anbieter"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="sparte" type="cprd:Sparte"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="druckDokumentNummer" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PoliceSearchParam">
    <xsd:complexContent>
      <xsd:extension base="ebre:DokumentSearchParam">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="policenNr" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="beginPolice" type="xsd:date"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="endePolice" type="xsd:date"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="anbieter" type="codf:Anbieter"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="sparte" type="cprd:Sparte"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PraemienTotal">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="personTotal" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="uebertrag" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Praemienabrechnung">
    <xsd:complexContent>
      <xsd:extension base="ebre:Abrechnung">
        <xsd:sequence/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PraemienabrechnungSearchParam">
    <xsd:complexContent>
      <xsd:extension base="ebre:AbrechnungSearchParam">
        <xsd:sequence/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PrivathaftpflichtProdukt">
    <xsd:complexContent>
      <xsd:extension base="ebre:BasisProdukt">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="personenKreis" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="besitzStand" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Produkt">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="produktId" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="bezeichnung" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="inklUnfall" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="istKvg" type="xsd:boolean"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="produkt" type="ebre:ProduktAttribut"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProduktAttribut">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="schluessel" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="wert" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Produkte">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="basisProdukt" type="ebre:BasisProdukt"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="isBroker" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="versicherungsende" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="hauptfaelligkeit" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="praemienfaelligkeit" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="versicherungsbeginn" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="stempelgebuehr" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="rechnungspraemie" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="vorversichererName" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="vorversichererAblaufdatum" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="isVorversichert" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Rabatt">
    <xsd:complexContent>
      <xsd:extension base="ebre:BasisElementarProdukt">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="prozent" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="summe" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SHVAbsender">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="orgeinheit" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="agenturNr" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="strasseMitNr" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="postfach" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="postfachNr" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="plz" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="ort" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="telefonnummer" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="faxnummer" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="email" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Service">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="service" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="fehler" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="message" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Unternehmen">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="partnerNrUnternehmen" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="name" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="strasse" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="hausnummer" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="adressZusatz1" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="adressZusatz2" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="adressZusatz3" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="postleitzahl" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ort" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="plzAusland" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ortAusland" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="telefonNummer" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="mobileNummer" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="faxNummer" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="email" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="webseite" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="cssKontakt" type="ebre:Kontakt"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="VersichertePerson">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="vorname" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="name" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="adresse" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="plz" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="ort" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="telefonnummer" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="kundennummer" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="VersichertePersonFRV">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="vorname" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="name" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="adresse" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="plz" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ort" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Vorversicherer">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="bagId" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="name" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="postleitzahl" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ort" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="adresszusatz1" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="adresszusatz2" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Zone">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="postleitzahl" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="kanton" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="ort" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="gemeinde" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="zonenNr" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ZusatzVersicherung">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="selbstbehalt" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="fremderPersonenwagen" type="ebre:ElementarProdukt"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="fremdePferde" type="ebre:ElementarProdukt"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="glasbruchSchaeden" type="ebre:ElementarProdukt"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="einfacherDiebstahlAuswaerts"
          type="ebre:ElementarProdukt"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="freilegungsKosten" type="ebre:ElementarProdukt"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="entsorgungsKosten" type="ebre:ElementarProdukt"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="einbruchDiebstahl" type="ebre:ElementarProdukt"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="mietzinsausfallWasser" type="ebre:ElementarProdukt"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="mietzinsausfallFeuer" type="ebre:ElementarProdukt"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BackendServicesNotAvailableException">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="1" name="failedServices" type="ebre:Service"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DokumentNotYetAvailableException">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:complexType name="EBInvalidPartnerNrException">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:complexType name="EBNoCompanyAssignedException">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:complexType name="InvalidDataException">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="Message" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ServiceUnavailableException">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="service" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="message" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="AntragTyp">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Default">
        <xsd:annotation>
          <xsd:appinfo><jaxb:typesafeEnumMember name="DEFAULT"/></xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="NeuInDerSchweiz">
        <xsd:annotation>
          <xsd:appinfo><jaxb:typesafeEnumMember name="NEUINDERSCHWEIZ"/></xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="VorgeburtlicheAnmeldung">
        <xsd:annotation>
          <xsd:appinfo><jaxb:typesafeEnumMember name="VORGEBURTLICHEANMELDUNG"/></xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="AntragsQuelle">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="polos">
        <xsd:annotation>
          <xsd:appinfo><jaxb:typesafeEnumMember name="POLOS"/></xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="web">
        <xsd:annotation>
          <xsd:appinfo><jaxb:typesafeEnumMember name="WEB"/></xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="comparis">
        <xsd:annotation>
          <xsd:appinfo><jaxb:typesafeEnumMember name="COMPARIS"/></xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="bonus">
        <xsd:annotation>
          <xsd:appinfo><jaxb:typesafeEnumMember name="BONUS"/></xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="20min">
        <xsd:annotation>
          <xsd:appinfo><jaxb:typesafeEnumMember name="20MIN"/></xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="kkvgl">
        <xsd:annotation>
          <xsd:appinfo><jaxb:typesafeEnumMember name="KKVGL"/></xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="pex">
        <xsd:annotation>
          <xsd:appinfo><jaxb:typesafeEnumMember name="PEX"/></xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="bag">
        <xsd:annotation>
          <xsd:appinfo><jaxb:typesafeEnumMember name="BAG"/></xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ArztQuelle">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="hav">
        <xsd:annotation>
          <xsd:appinfo><jaxb:typesafeEnumMember name="HAV"/></xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="gpv">
        <xsd:annotation>
          <xsd:appinfo><jaxb:typesafeEnumMember name="GPV"/></xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DoctorsListType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="cssall">
        <xsd:annotation>
          <xsd:appinfo><jaxb:typesafeEnumMember name="CSS_ALL"/></xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="gpv">
        <xsd:annotation>
          <xsd:appinfo><jaxb:typesafeEnumMember name="GPV"/></xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="profit">
        <xsd:annotation>
          <xsd:appinfo><jaxb:typesafeEnumMember name="PROFIT"/></xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="sanagateall">
        <xsd:annotation>
          <xsd:appinfo><jaxb:typesafeEnumMember name="SANAGATE_ALL"/></xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Patientenaufnahme">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="no">
        <xsd:annotation>
          <xsd:appinfo><jaxb:typesafeEnumMember name="NEIN"/></xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="onRequest">
        <xsd:annotation>
          <xsd:appinfo><jaxb:typesafeEnumMember name="AUF_ANFRAGE"/></xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="yes">
        <xsd:annotation>
          <xsd:appinfo><jaxb:typesafeEnumMember name="JA"/></xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="RegistrationsTyp">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="1">
        <xsd:annotation>
          <xsd:appinfo><jaxb:typesafeEnumMember name="Vorregistration"/></xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="2">
        <xsd:annotation>
          <xsd:appinfo><jaxb:typesafeEnumMember name="Nachregistration"/></xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>