xsd/eBIdentityManagementQuery_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- @generated by service_generator. File is not intended to be modified! -->
<xsd:schema xmlns:eb_identity_management="http://www.css.ch/eb_identity_management/1"
    xmlns:tns="http://www.css.ch/eb_identity_management/eBIdentityManagementQuery/1"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.css.ch/eb_identity_management/eBIdentityManagementQuery/1"
    version="1">
  <xsd:import namespace="http://www.css.ch/eb_identity_management/1" schemaLocation="ch_css_eb_identity_management_1.xsd"/>
  <xsd:element name="EBDataValidationFault" type="eb_identity_management:EBDataValidationException"/>
  <xsd:element name="EBNoPendingIakFault" type="eb_identity_management:EBNoPendingIakException"/>
  <xsd:element name="ping" type="tns:ping"/>
  <xsd:element name="pingResponse" type="tns:pingResponse"/>
  <xsd:element name="readIdentificationLetterIssueDate" type="tns:readIdentificationLetterIssueDate"/>
  <xsd:element name="readIdentificationLetterIssueDateResponse" type="tns:readIdentificationLetterIssueDateResponse"/>
  <xsd:element name="readMtanStatus" type="tns:readMtanStatus"/>
  <xsd:element name="readMtanStatusResponse" type="tns:readMtanStatusResponse"/>
  <xsd:element name="readProfil" type="tns:readProfil"/>
  <xsd:element name="readProfilResponse" type="tns:readProfilResponse"/>
  <xsd:complexType name="ping">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:complexType name="pingResponse">
    <xsd:sequence>
      <xsd:element name="returnValue" type="eb_identity_management:PingOut"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="readIdentificationLetterIssueDate">
    <xsd:sequence>
      <xsd:element name="readIdentificationLetterIssueDateIn" type="eb_identity_management:eBIdentityManagementQueryReadIdentificationLetterIssueDateIn"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="readIdentificationLetterIssueDateResponse">
    <xsd:sequence>
      <xsd:element name="returnValue" type="eb_identity_management:eBIdentityManagementQueryReadIdentificationLetterIssueDateOut"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="readMtanStatus">
    <xsd:sequence>
      <xsd:element name="readMtanStatusIn" type="eb_identity_management:eBIdentityManagementQueryReadMtanStatusIn"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="readMtanStatusResponse">
    <xsd:sequence>
      <xsd:element name="returnValue" type="eb_identity_management:eBIdentityManagementQueryReadMtanStatusOut"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="readProfil">
    <xsd:sequence>
      <xsd:element name="readProfileIn" type="eb_identity_management:eBIdentityManagementQueryReadProfilIn"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="readProfilResponse">
    <xsd:sequence>
      <xsd:element name="returnValue" type="eb_identity_management:eBIdentityManagementQueryReadProfilOut"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>