xsd/eBIdentityManagementManager_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- @generated by service_generator. File is not intended to be modified! -->
<xsd:schema xmlns:eb_identity_management="http://www.css.ch/eb_identity_management/1"
    xmlns:tns="http://www.css.ch/eb_identity_management/eBIdentityManagementManager/1"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.css.ch/eb_identity_management/eBIdentityManagementManager/1"
    version="1">
  <xsd:import namespace="http://www.css.ch/eb_identity_management/1" schemaLocation="ch_css_eb_identity_management_1.xsd"/>
  <xsd:element name="EBAuthenticationFault" type="eb_identity_management:EBAuthenticationException"/>
  <xsd:element name="EBDataValidationFault" type="eb_identity_management:EBDataValidationException"/>
  <xsd:element name="EBEmailAlreadyPresentFault" type="eb_identity_management:EBEmailAlreadyPresentException"/>
  <xsd:element name="EBPartnerNotFoundFault" type="eb_identity_management:EBPartnerNotFoundException"/>
  <xsd:element name="EBPasswordResetTokenExpiredFault" type="eb_identity_management:EBPasswordResetTokenExpiredException"/>
  <xsd:element name="EBUserNameAlreadyPresentFault" type="eb_identity_management:EBUserNameAlreadyPresentException"/>
  <xsd:element name="modifyPasswort" type="tns:modifyPasswort"/>
  <xsd:element name="modifyPasswortResponse" type="tns:modifyPasswortResponse"/>
  <xsd:element name="modifyProfil" type="tns:modifyProfil"/>
  <xsd:element name="modifyProfilResponse" type="tns:modifyProfilResponse"/>
  <xsd:element name="ping" type="tns:ping"/>
  <xsd:element name="pingResponse" type="tns:pingResponse"/>
  <xsd:element name="updatePasswortReset" type="tns:updatePasswortReset"/>
  <xsd:element name="updatePasswortResetResponse" type="tns:updatePasswortResetResponse"/>
  <xsd:complexType name="modifyPasswort">
    <xsd:sequence>
      <xsd:element name="modifyPasswortIn" type="eb_identity_management:eBIdentityManagementManagerModifyPasswortIn"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="modifyPasswortResponse">
    <xsd:sequence>
      <xsd:element name="returnValue" type="eb_identity_management:eBIdentityManagementManagerModifyPasswortOut"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="modifyProfil">
    <xsd:sequence>
      <xsd:element name="modifyProfilIn" type="eb_identity_management:eBIdentityManagementManagerModifyProfilIn"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="modifyProfilResponse">
    <xsd:sequence>
      <xsd:element name="returnValue" type="eb_identity_management:eBIdentityManagementManagerModifyProfilOut"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ping">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:complexType name="pingResponse">
    <xsd:sequence>
      <xsd:element name="returnValue" type="eb_identity_management:PingOut"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="updatePasswortReset">
    <xsd:sequence>
      <xsd:element name="updatePasswortResetIn" type="eb_identity_management:eBIdentityManagementManagerUpdatePasswortResetIn"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="updatePasswortResetResponse">
    <xsd:sequence>
      <xsd:element name="returnValue" type="eb_identity_management:eBIdentityManagementManagerUpdatePasswortResetOut"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>