xsd/eBIdentityManagementLogic_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- @generated by service_generator. File is not intended to be modified! -->
<xsd:schema xmlns:eb_identity_management="http://www.css.ch/eb_identity_management/1"
    xmlns:tns="http://www.css.ch/eb_identity_management/eBIdentityManagementLogic/1"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.css.ch/eb_identity_management/eBIdentityManagementLogic/1"
    version="1">
  <xsd:import namespace="http://www.css.ch/eb_identity_management/1" schemaLocation="ch_css_eb_identity_management_1.xsd"/>
  <xsd:element name="EBDataValidationFault" type="eb_identity_management:EBDataValidationException"/>
  <xsd:element name="EBEmailAlreadyPresentFault" type="eb_identity_management:EBEmailAlreadyPresentException"/>
  <xsd:element name="EBEmailVerificationNotPossibleFault" type="eb_identity_management:EBEmailVerificationNotPossibleException"/>
  <xsd:element name="EBIakTooRecentlyIssuedFault" type="eb_identity_management:EBIakTooRecentlyIssuedException"/>
  <xsd:element name="EBGenerateActivationCodeFault" type="eb_identity_management:EBGenerateActivationCodeException"/>
  <xsd:element name="EBIdentificationLetterRequestInAdvanceFault" type="eb_identity_management:EBIdentificationLetterRequestInAdvanceException"/>
  <xsd:element name="EBNoValidIakFault" type="eb_identity_management:EBNoValidIakException"/>
  <xsd:element name="EBOtpFailedFault" type="eb_identity_management:EBOtpFailedException"/>
  <xsd:element name="EBPartnerAlreadySignedUpFault" type="eb_identity_management:EBPartnerAlreadySignedUpException"/>
  <xsd:element name="EBPartnerNotFoundFault" type="eb_identity_management:EBPartnerNotFoundException"/>
  <xsd:element name="EBUserNameAlreadyPresentFault" type="eb_identity_management:EBUserNameAlreadyPresentException"/>
  <xsd:element name="ping" type="tns:ping"/>
  <xsd:element name="pingResponse" type="tns:pingResponse"/>
  <xsd:element name="submitIdentificationLetterRequest" type="tns:submitIdentificationLetterRequest"/>
  <xsd:element name="generateActivationCode" type="tns:generateActivationCode"/>
  <xsd:element name="generateActivationCodeResponse" type="tns:generateActivationCodeResponse"/>
  <xsd:element name="submitIdentificationLetterRequestInAdvance" type="tns:submitIdentificationLetterRequestInAdvance"/>
  <xsd:element name="submitIdentificationLetterRequestInAdvanceResponse" type="tns:submitIdentificationLetterRequestInAdvanceResponse"/>
  <xsd:element name="submitIdentificationLetterRequestResponse" type="tns:submitIdentificationLetterRequestResponse"/>
  <xsd:element name="submitIdentificationLetterRequestSelf" type="tns:submitIdentificationLetterRequestSelf"/>
  <xsd:element name="submitIdentificationLetterRequestSelfResponse" type="tns:submitIdentificationLetterRequestSelfResponse"/>
  <xsd:element name="submitPasswortReset" type="tns:submitPasswortReset"/>
  <xsd:element name="submitPasswortResetResponse" type="tns:submitPasswortResetResponse"/>
  <xsd:element name="submitRegistrierung" type="tns:submitRegistrierung"/>
  <xsd:element name="submitRegistrierungResponse" type="tns:submitRegistrierungResponse"/>
  <xsd:element name="submitSms" type="tns:submitSms"/>
  <xsd:element name="submitSmsResponse" type="tns:submitSmsResponse"/>
  <xsd:element name="submitTelefonRegistrierungFirstStep" type="tns:submitTelefonRegistrierungFirstStep"/>
  <xsd:element name="submitTelefonRegistrierungFirstStepResponse" type="tns:submitTelefonRegistrierungFirstStepResponse"/>
  <xsd:element name="submitTelefonRegistrierungSecondStep" type="tns:submitTelefonRegistrierungSecondStep"/>
  <xsd:element name="submitTelefonRegistrierungSecondStepResponse" type="tns:submitTelefonRegistrierungSecondStepResponse"/>
  <xsd:element name="submitVerifyRegistrierung" type="tns:submitVerifyRegistrierung"/>
  <xsd:element name="submitVerifyRegistrierungResponse" type="tns:submitVerifyRegistrierungResponse"/>
  <xsd:complexType name="ping">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:complexType name="pingResponse">
    <xsd:sequence>
      <xsd:element name="returnValue" type="eb_identity_management:PingOut"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="submitIdentificationLetterRequest">
    <xsd:sequence>
      <xsd:element name="submitIdentificationLetterRequestIn" type="eb_identity_management:eBIdentityManagementLogicSubmitIdentificationLetterRequestIn"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="generateActivationCode">
    <xsd:sequence>
      <xsd:element name="generateActivationCodeIn" type="eb_identity_management:eBidentityManagementLogicGenerateActivationCodeIn"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="generateActivationCodeResponse">
    <xsd:sequence>
      <xsd:element name="returnValue" type="eb_identity_management:eBidentityManagementLogicGenerateActivationCodeOut"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="submitIdentificationLetterRequestInAdvance">
    <xsd:sequence>
      <xsd:element name="submitIdentificationLetterRequestInAdvanceIn" type="eb_identity_management:eBidentityManagementLogicSubmitIdentificationLetterRequestInAdvanceIn"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="submitIdentificationLetterRequestInAdvanceResponse">
    <xsd:sequence>
      <xsd:element name="returnValue" type="eb_identity_management:eBidentityManagementLogicSubmitIdentificationLetterRequestInAdvanceOut"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="submitIdentificationLetterRequestResponse">
    <xsd:sequence>
      <xsd:element name="returnValue" type="eb_identity_management:eBIdentityManagementLogicSubmitIdentificationLetterRequestOut"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="submitIdentificationLetterRequestSelf">
    <xsd:sequence>
      <xsd:element name="submitIdentificationLetterRequestSelfIn" type="eb_identity_management:eBIdentityManagementLogicSubmitIdentificationLetterRequestSelfIn"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="submitIdentificationLetterRequestSelfResponse">
    <xsd:sequence>
      <xsd:element name="returnValue" type="eb_identity_management:eBIdentityManagementLogicSubmitIdentificationLetterRequestSelfOut"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="submitPasswortReset">
    <xsd:sequence>
      <xsd:element name="submitPasswortResetIn" type="eb_identity_management:eBIdentityManagementLogicSubmitPasswortResetIn"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="submitPasswortResetResponse">
    <xsd:sequence>
      <xsd:element name="returnValue" type="eb_identity_management:eBIdentityManagementLogicSubmitPasswortResetOut"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="submitRegistrierung">
    <xsd:sequence>
      <xsd:element name="submitRegistrierungIn" type="eb_identity_management:eBIdentityManagementLogicSubmitRegistrierungIn"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="submitRegistrierungResponse">
    <xsd:sequence>
      <xsd:element name="returnValue" type="eb_identity_management:eBIdentityManagementLogicSubmitRegistrierungOut"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="submitSms">
    <xsd:sequence>
      <xsd:element name="submitSmsIn" type="eb_identity_management:eBIdentityManagementLogicSubmitSmsIn"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="submitSmsResponse">
    <xsd:sequence>
      <xsd:element name="returnValue" type="eb_identity_management:eBIdentityManagementLogicSubmitSmsOut"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="submitTelefonRegistrierungFirstStep">
    <xsd:sequence>
      <xsd:element name="submitTelefonRegistrierungFirstStepIn" type="eb_identity_management:eBIdentityManagementLogicSubmitTelefonRegistrierungFirstStepIn"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="submitTelefonRegistrierungFirstStepResponse">
    <xsd:sequence>
      <xsd:element name="returnValue" type="eb_identity_management:eBIdentityManagementLogicSubmitTelefonRegistrierungFirstStepOut"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="submitTelefonRegistrierungSecondStep">
    <xsd:sequence>
      <xsd:element name="submitTelefonRegistrierungSecondStepIn" type="eb_identity_management:eBIdentityManagementLogicSubmitTelefonRegistrierungSecondStepIn"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="submitTelefonRegistrierungSecondStepResponse">
    <xsd:sequence>
      <xsd:element name="returnValue" type="eb_identity_management:eBIdentityManagementLogicSubmitTelefonRegistrierungSecondStepOut"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="submitVerifyRegistrierung">
    <xsd:sequence>
      <xsd:element name="submitVerifyRegistrierungIn" type="eb_identity_management:eBIdentityManagementLogicSubmitVerifyRegistrierungIn"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="submitVerifyRegistrierungResponse">
    <xsd:sequence>
      <xsd:element name="returnValue" type="eb_identity_management:eBIdentityManagementLogicSubmitVerifyRegistrierungOut"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>