xsd/PdfRenderer_7.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- @generated by service_generator. File is not intended to be modified! -->
<xsd:schema xmlns:ebre="http://www.css.ch/eb_es_renderer/7" xmlns:tns="http://www.css.ch/eb_es_renderer/PdfRenderer/7"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.css.ch/eb_es_renderer/PdfRenderer/7"
    version="7">
  <xsd:import namespace="http://www.css.ch/eb_es_renderer/7" schemaLocation="ch_css_eb_es_renderer_7.xsd"/>
  <xsd:element name="InvalidDataFault" type="ebre:InvalidDataException"/>
  <xsd:element name="ServiceUnavailableFault" type="ebre:ServiceUnavailableException"/>
  <xsd:element name="getVersion" type="tns:getVersion"/>
  <xsd:element name="getVersionResponse" type="tns:getVersionResponse"/>
  <xsd:element name="ping" type="tns:ping"/>
  <xsd:element name="pingResponse" type="tns:pingResponse"/>
  <xsd:element name="submitDruckauftragAerzteliste" type="tns:submitDruckauftragAerzteliste"/>
  <xsd:element name="submitDruckauftragAerztelisteResponse" type="tns:submitDruckauftragAerztelisteResponse"/>
  <xsd:element name="submitDruckauftragAktivierungscode" type="tns:submitDruckauftragAktivierungscode"/>
  <xsd:element name="submitDruckauftragAktivierungscodeResponse" type="tns:submitDruckauftragAktivierungscodeResponse"/>
  <xsd:element name="submitDruckauftragAntrag" type="tns:submitDruckauftragAntrag"/>
  <xsd:element name="submitDruckauftragAntragResponse" type="tns:submitDruckauftragAntragResponse"/>
  <xsd:element name="submitDruckauftragFRVReisedokumentation" type="tns:submitDruckauftragFRVReisedokumentation"/>
  <xsd:element name="submitDruckauftragFRVReisedokumentationResponse" type="tns:submitDruckauftragFRVReisedokumentationResponse"/>
  <xsd:element name="submitDruckauftragOfferte" type="tns:submitDruckauftragOfferte"/>
  <xsd:element name="submitDruckauftragOfferteResponse" type="tns:submitDruckauftragOfferteResponse"/>
  <xsd:element name="submitDruckauftragSHVAntrag" type="tns:submitDruckauftragSHVAntrag"/>
  <xsd:element name="submitDruckauftragSHVAntragResponse" type="tns:submitDruckauftragSHVAntragResponse"/>
  <xsd:element name="submitDruckauftragWechselFranchise" type="tns:submitDruckauftragWechselFranchise"/>
  <xsd:element name="submitDruckauftragWechselFranchiseResponse" type="tns:submitDruckauftragWechselFranchiseResponse"/>
  <xsd:element name="submitDruckauftragWechselVersicherungsmodell" type="tns:submitDruckauftragWechselVersicherungsmodell"/>
  <xsd:element name="submitDruckauftragWechselVersicherungsmodellResponse" type="tns:submitDruckauftragWechselVersicherungsmodellResponse"/>
  <xsd:complexType name="getVersion">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:complexType name="getVersionResponse">
    <xsd:sequence>
      <xsd:element name="returnValue" type="ebre:GetVersionOut"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ping">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:complexType name="pingResponse">
    <xsd:sequence>
      <xsd:element name="returnValue" type="ebre:PingOut"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="submitDruckauftragAerzteliste">
    <xsd:sequence>
      <xsd:element name="druckauftragIn" type="ebre:DruckauftragAerztelisteIn"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="submitDruckauftragAerztelisteResponse">
    <xsd:sequence>
      <xsd:element name="returnValue" type="ebre:DruckauftragAerztelisteOut"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="submitDruckauftragAktivierungscode">
    <xsd:sequence>
      <xsd:element name="druckauftragAktivierungsCodeIn" type="ebre:DruckauftragAktivierungsCodeIn"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="submitDruckauftragAktivierungscodeResponse">
    <xsd:sequence>
      <xsd:element name="returnValue" type="ebre:DruckauftragAktivierungsCodeOut"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="submitDruckauftragAntrag">
    <xsd:sequence>
      <xsd:element name="druckauftragIn" type="ebre:DruckauftragAntragIn"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="submitDruckauftragAntragResponse">
    <xsd:sequence>
      <xsd:element name="returnValue" type="ebre:DruckauftragAntragOut"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="submitDruckauftragFRVReisedokumentation">
    <xsd:sequence>
      <xsd:element name="druckauftragIn" type="ebre:DruckauftragFRVReisedokumentationIn"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="submitDruckauftragFRVReisedokumentationResponse">
    <xsd:sequence>
      <xsd:element name="returnValue" type="ebre:DruckauftragFRVReisedokumentationOut"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="submitDruckauftragOfferte">
    <xsd:sequence>
      <xsd:element name="druckauftragIn" type="ebre:DruckauftragOfferteIn"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="submitDruckauftragOfferteResponse">
    <xsd:sequence>
      <xsd:element name="returnValue" type="ebre:DruckauftragOfferteOut"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="submitDruckauftragSHVAntrag">
    <xsd:sequence>
      <xsd:element name="druckauftragIn" type="ebre:DruckauftragSHVAntragIn"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="submitDruckauftragSHVAntragResponse">
    <xsd:sequence>
      <xsd:element name="returnValue" type="ebre:DruckauftragSHVAntragOut"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="submitDruckauftragWechselFranchise">
    <xsd:sequence>
      <xsd:element name="in" type="ebre:DruckauftragWechselFranchiseIn"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="submitDruckauftragWechselFranchiseResponse">
    <xsd:sequence>
      <xsd:element name="returnValue" type="ebre:DruckauftragWechselFranchiseOut"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="submitDruckauftragWechselVersicherungsmodell">
    <xsd:sequence>
      <xsd:element name="in" type="ebre:DruckauftragWechselVersicherungsmodellIn"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="submitDruckauftragWechselVersicherungsmodellResponse">
    <xsd:sequence>
      <xsd:element name="returnValue" type="ebre:DruckauftragWechselVersicherungsmodellOut"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>